* {
    font-family: 'Montserrat', sans-serif;
}

.navbar-item img {
    max-height: 4rem !important;
    margin-left: 5%;
    margin-bottom: 5%;
}

.main {
    background-color: #EEEEEE;
    min-height: 94vh;
    height: 100%;
}

.avatar-fig {
    margin-right: 15px;
}

.avatar {
    border-radius: 25px;
}

.username,
.logout-text {
    font-weight: 700;
}

.menu {
    font-family: 'Montserrat', sans-serif;

    .menu-list>li>a {
        font-weight: 700;
        padding: 1em;
    }

    .menu-label {
        margin-left: 15px;
        font-size: .65em;
    }

    .option:before {
        content: '';
        vertical-align: middle;
        display: inline-block;
        width: 24px;
        margin: 0 15px 0 0;
        height: 24px;
    }

    a[class=is-active]>.main-site:before {
        background: url('/static/assets/icons/main-panel-active.png') no-repeat;
    }

    a[class=is-active]>.download:before {
        background: url('/static/assets/icons/download_active.png') no-repeat;
    }

    a[class=is-active]>.driver-card:before {
        background: url('/static/assets/icons/driver_card_active.png') no-repeat;
    }

    a[class=is-active]>.add-delivery:before {
        background: url('/static/assets/icons/add_delivery_active.png') no-repeat;
    }

    a[class=is-active]>.gielda:before {
        background: url('/static/assets/icons/gielda_active.png') no-repeat;
    }

    a[class=is-active]>.dispositions:before {
        background: url('/static/assets/icons/map_active.png') no-repeat;
        height: 27px;
    }

    a[class=is-active]>.search-company:before {
        background: url('/static/assets/icons/search_active.png') no-repeat;
    }

    a[class=is-active]>.vehicles:before {
        background: url('/static/assets/icons/vehicles_active.png') no-repeat;
    }

    a[class=is-active]>.deliveries:before {
        background: url('/static/assets/icons/deliveries_active.png') no-repeat;
    }

    a[class=is-active]>.settings:before {
        background: url('/static/assets/icons/settings_active.png') no-repeat;
    }

    .main-site:before {
        background: url('/static/assets/icons/main-panel.png') no-repeat;
    }

    .download:before {
        background: url('/static/assets/icons/download.png') no-repeat;
    }

    .driver-card:before {
        background: url('/static/assets/icons/driver_card.png') no-repeat;
    }

    .add-delivery:before {
        background: url('/static/assets/icons/add_delivery.png') no-repeat;
    }

    .gielda:before {
        background: url('/static/assets/icons/gielda.png') no-repeat;
    }

    .dispositions:before {
        background: url('/static/assets/icons/map.png') no-repeat;
        height: 27px;
    }

    .search-company:before {
        background: url('/static/assets/icons/search.png') no-repeat;
    }

    .vehicles:before {
        background: url('/static/assets/icons/vehicles.png') no-repeat;
    }

    .deliveries:before {
        background: url('/static/assets/icons/deliveries.png') no-repeat;
    }

    .settings:before {
        background: url('/static/assets/icons/settings.png') no-repeat;
    }

    .drivers:before {
        background: url('/static/assets/icons/drivers.png') no-repeat;
    }
}

.title {
    margin-left: 1.5%;
    margin-top: 2%;
}

.colored {
    color: #0282FC;
}