* {
    font-family: 'Montserrat',
    sans-serif !important;
}

.modal {
    justify-content: center;
}

.modal-content {
    h1 {
        text-align: center;
    }

    .content {
        padding-bottom: 5rem;
        ;
    }

    padding-bottom: 5rem;
}

.modal-text {
    text-align: center;
    color: #a3a3a3;
}

.modal-buttons {
    margin-top: 55px;
    display: flex;
    justify-content: center;

    .button:first-of-type {
        margin-right: 15px;
    }

    .button {
        font-size: 1.2rem !important;
        font-weight: 700 !important;
    }
}

.delete-company {
    font-weight: 700 !important;
}