@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,700&display=swap');

$main-red: #C70000;

body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

.button {
    font-weight: 700;
}

.sign-in {
    font-weight: 400;
}

.sign-up,
.enter-system,
.send-message {
    background-color: $main-red;
    color: white;
    &:hover {
        color: #dddddd;
    }
    padding: 0 2em;
}


.enter-system {
    margin-top: 4rem;
    font-size: 1.5rem;
    padding: 25px 40px;
}


.has-bg-img {
    height: 100vh;
    background-image: url('assets/hero.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}


.hero-body {
    padding-top: 6rem !important;
}

.container {
    .title-header {
        font-weight: 900;
        font-size: 3.5rem;
    }
    .title-description {
        margin-top: 1.5rem !important;
    }
}
.column-text {
    max-width: 600px;
    margin-left: 10em;
}

.column-description {
    margin-top: 3rem !important;
}

.right {
    .screenshot {
        margin-top: 5rem;
    }
}

.advantage-text {
    max-width: 600px;
}

.card {
    cursor: default;
    &:nth-child(1) {
        margin-left: 5rem;
    }
    max-width: 450px;
    a {
        cursor: default;
    }
    margin-top: 10em;
}

.form {
    margin-left: 10rem;
    label:nth-of-type(1) {
        margin-top: 5em;
    }
    
    label {
        margin-top: 2.5em;
    }
}

.buttons-message {
    margin-top: 3rem;
    text-align: right;
}