{% load static %}
<!DOCTYPE html>
<html lang="pl-pl">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description"
        content="Hercules to najlepszy polski system rozliczeń dla wirtualnych spedycji w ETS2. Dołącz do nas już teraz i zostań herosem transportu!">

    <link rel="apple-touch-icon" sizes="57x57" href="{% static 'hercules_app/assets/icons/apple-icon-57x57.png}">
    <link rel="apple-touch-icon" sizes="60x60" href="{% static 'hercules_app/assets/icons/apple-icon-60x60.png' %}">
    <link rel="apple-touch-icon" sizes="72x72" href="{% static 'hercules_app/assets/icons/apple-icon-72x72.png' %}">
    <link rel="apple-touch-icon" sizes="76x76" href="{% static 'hercules_app/assets/icons/apple-icon-76x76.png' %}">
    <link rel="apple-touch-icon" sizes="114x114" href="{% static 'hercules_app/assets/icons/apple-icon-114x114.png' %}">
    <link rel="apple-touch-icon" sizes="120x120" href="{% static 'hercules_app/assets/icons/apple-icon-120x120.png' %}">
    <link rel="apple-touch-icon" sizes="144x144" href="{% static 'hercules_app/assets/icons/apple-icon-144x144.png' %}">
    <link rel="apple-touch-icon" sizes="152x152" href="{% static 'hercules_app/assets/icons/apple-icon-152x152.png' %}">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'hercules_app/assets/icons/apple-icon-180x180.png' %}">
    <link rel="icon" type="image/png" sizes="192x192"
        href="{% static 'hercules_app/assets/icons/android-icon-192x192.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'hercules_app/assets/icons/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="96x96" href="{% static 'hercules_app/assets/icons/favicon-96x96.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'hercules_app/assets/icons/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'hercules_app/assets/icons/manifest.json' %} ">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="{% static 'hercules_app/icons/ms-icon-144x144.png' %}">
    <meta name="theme-color" content="#ffffff">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
    <link rel="stylesheet" type="text/css" href="panel.css">
    <link rel="stylesheet" type="text/css" href="main.css">
    <link rel="stylesheet" type="text/css" href="companies.css">
    <link rel="stylesheet" type="text/css" href="company_profile.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <title> Panel użytkownika | Hercules</title>
</head>

<body>
    <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-start">
            <div class="navbar-brand">
                <a class="navbar-item">
                    <img src="{% static 'hercules_app/assets/logo.png' %}" width="194" height="55">
                </a>
                <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false">
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                </a>
            </div>
        </div>
        <div class="navbar-end is-hidden-mobile">
            <a class="navbar-item">
                <figure class="image is-48x48 avatar-fig">
                    <img class="avatar" src="{% static 'hercules_app/assets/avatar_krawczyk.jpg' %}">
                </figure>
                <span class="user">
                    <p class="username">{{ driver.nick }}</p>
                    {% if driver.company != "" %}
                    <p class="company">{{ driver.company }}</p>
                    {% endif %}
                </span>
            </a>
            <a class="navbar-item">
                <span class="icon is-medium logout">
                    <i class="fas fa-sign-out-alt"></i>
                </span>
                <p class="logout-text">Wyloguj się</p>
            </a>
        </div>
    </nav>
    <div class="wrapper">
        <div class="columns">
            <aside class="column is-2 aside is-hidden-mobile is-placed-left">
                <nav class="menu">
                    <p class="menu-label">
                        Menu główne
                    </p>
                    <ul class="menu-list">
                        <li>
                            <a href="/panel">
                                <p class="option main-site">Panel systemu</p>
                            </a>
                        </li>
                        <li>
                            <a class="panel-option" href="/download">
                                <p class="option download">Pobierz aplikację</p>
                            </a>
                        </li>
                    </ul>
                    <p class="menu-label">
                        Kierowca
                    </p>
                    <ul class="menu-list">
                        <li>
                            <a href='/drivers-card'>
                                <p class="option driver-card">Karta kierowcy</p>
                            </a>
                        </li>
                        <li>
                            <a href="/add-delivery">
                                <p class="option add-delivery">Dodaj dostawę</p>
                            </a>
                        </li>
                        <li>
                            <a href="/Gielda/Offers">
                                <p class="option gielda">Giełda zleceń</p>
                            </a>
                        </li>
                        <li>
                            <a href="/Dispositions">
                                <p class="option dispositions">Dyspozycje</p>
                            </a>
                        </li>
                    </ul>
                    <p class="menu-label">
                        Spedycja
                    </p>
                    <ul class="menu-list">
                        <li>
                            <a class="is-active">
                                <p class="option search-company">
                                    Znajdź firmę
                                </p>
                            </a>
                        </li>
                        <li>
                            <a>
                                <p class="option vehicles">Twoje pojazdy</p>
                            </a>
                        </li>
                        <li>
                            <a>
                                <p class="option deliveries">Twoje dostawy</p>
                            </a>
                        </li>
                        <li>
                            <a>
                                <p class="option settings">Ustawienia</p>
                            </a>
                        </li>
                    </ul>
                </nav>
            </aside>
            <main class="column main">
                <header>
                    <h1 class="title">Profil firmy</h1>
                </header>
                <div class="box basic-info">
                    <div class="columns">
                        <div class="column">
                            <img src="img/placeholder-1200x500-1.png" class="company-logo">
                        </div>
                        <div class="column">
                            <h1 class="company-name">Nordic Transport Group</h1>
                            <div class="tags">
                                <span class="tag is-small">ETS2</span>
                                <span class="tag is-small">ATS</span>
                                <span class="tag is-small">Singleplayer</span>
                                <span class="tag is-small">Multiplayer</span>
                                <span class="tag is-small">Promods</span>
                            </div>
                            <div class="tags">
                                <span class="tag is-success is-open-for-drivers is-medium">Rekrutacja otwarta</span>
                            </div>
                            <a class="button is-danger send-application">Złóż podanie</a>
                        </div>
                    </div>
                </div>
                <div class="columns statistics">
                    <div class="column stats-column">
                        <div class="box card distance-card">
                            <article class="media">
                                <div class="media-left">
                                    <figure class="image is-64x64">
                                        <img src="img/distance-card.png">
                                    </figure>
                                </div>
                                <div class="media-content">
                                    <div class="content">
                                        <h6 class="card-title">Pokonany dystans</h6>
                                        <h1 class="card-value distance">4 401 310 <span class="colored">km</span></h1>
                                    </div>
                                </div>
                            </article>
                        </div>
                        <div class="box card tonnage-card">
                            <article class="media">
                                <div class="media-left">
                                    <figure class="image is-64x64">
                                        <img src="img/business.png">
                                    </figure>
                                </div>
                                <div class="media-content">
                                    <div class="content">
                                        <h6 class="card-title">Przewieziony tonaż</h6>
                                        <h1 class="card-value distance">5 510 310<span class="colored"> t</span>
                                        </h1>
                                    </div>
                                </div>
                            </article>
                        </div>
                        <div class="box card drivers-count-card">
                            <article class="media">
                                <div class="media-left">
                                    <figure class="image is-64x64">
                                        <img src="img/multiple-users-silhouette.png" alt="Image">
                                    </figure>
                                </div>
                                <div class="media-content">
                                    <div class="content">
                                        <h6 class="card-title">Liczba kierowców</h6>
                                        <h1 class="card-value used-fuel">16
                                        </h1>
                                    </div>
                                </div>
                            </article>
                        </div>
                    </div>
                    <div class="column stats-column">
                        <div class="box card fuel-card">
                            <article class="media">
                                <div class="media-left">
                                    <figure class="image is-64x64">
                                        <img src="img/gas-card.png " alt="Image">
                                    </figure>
                                </div>
                                <div class="media-content">
                                    <div class="content">
                                        <h6 class="card-title">Średnia paliwa</h6>
                                        <h1 class="card-value used-fuel">35.55 <span class="colored">l/100 km</span>
                                        </h1>
                                    </div>
                                </div>
                            </article>
                        </div>
                        <div class="box card money-card">
                            <article class="media">
                                <div class="media-left">
                                    <figure class="image is-64x64">
                                        <img src="img/money.png">
                                    </figure>
                                </div>
                                <div class="media-content">
                                    <div class="content">
                                        <h6 class="card-title">Osiągnięty dochód</h6>
                                        <h1 class="card-value used-fuel">
                                            5 531 301<span class="colored"> zł</span>
                                        </h1>
                                    </div>
                                </div>
                            </article>
                        </div>
                        <div class="box card deliveries-card">
                            <article class="media">
                                <div class="media-left">
                                    <figure class="image is-64x64">
                                        <img src="img/finish.png" alt="Image">
                                    </figure>
                                </div>
                                <div class="media-content">
                                    <div class="content">
                                        <h6 class="card-title">Liczba tras</h6>
                                        <h1 class="card-value used-fuel">5 310 <span class="colored"> tras</span>
                                        </h1>
                                    </div>
                                </div>
                            </article>
                        </div>
                    </div>
                </div>
                <div class="box description">
                    <label class="label">Opis</label>
                    <p class="company-description">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi eget tortor eu dui bibendum
                        pulvinar vel quis turpis. Cras ultrices nunc sem, nec tristique velit tincidunt nec. Sed non
                        ipsum ac erat accumsan ornare. Duis blandit ligula id iaculis efficitur. Maecenas convallis
                        aliquam sapien, in consequat mi posuere quis. Aenean id urna sit amet dui sollicitudin suscipit
                        a sit amet lectus. Donec lobortis finibus cursus.

                        Suspendisse orci leo, dictum quis lacus vulputate, vulputate posuere nibh. Morbi hendrerit lorem
                        orci, id pulvinar orci cursus eu. Etiam cursus, nisl accumsan egestas hendrerit, ligula ex
                        feugiat nibh, ac hendrerit purus sapien ac tortor. Maecenas urna elit, sagittis nec molestie in,
                        cursus in erat. Pellentesque consectetur, metus dictum gravida tincidunt, nunc est tempus lacus,
                        id mattis augue elit non orci. Nullam vulputate, eros vitae vulputate tempus, ante metus maximus
                        elit, eu mattis lorem urna feugiat lorem. Aliquam sodales sapien eget rutrum varius. Etiam
                        fermentum molestie risus, sit amet varius neque. Maecenas accumsan semper enim, in cursus tellus
                        placerat ac. Etiam mattis felis a libero facilisis placerat.
                    </p>
                </div>
            </main>
        </div>
    </div>
</body>

</html>