
{% load static %}
<!DOCTYPE html>
<html lang="pl-pl">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description"
        content="Hercules to najlepszy polski system rozliczeń dla wirtualnych spedycji w ETS2. Dołącz do nas już teraz i zostań herosem transportu!">

    <link rel="apple-touch-icon" sizes="57x57" href="{% static 'assets/icons/apple-icon-57x57.png' %}">
    <link rel="apple-touch-icon" sizes="60x60" href="{% static 'assets/icons/apple-icon-60x60.png' %}">
    <link rel="apple-touch-icon" sizes="72x72" href="{% static 'assets/icons/apple-icon-72x72.png' %}">
    <link rel="apple-touch-icon" sizes="76x76" href="{% static 'assets/icons/apple-icon-76x76.png' %}">
    <link rel="apple-touch-icon" sizes="114x114" href="{% static 'assets/icons/apple-icon-114x114.png' %}">
    <link rel="apple-touch-icon" sizes="120x120" href="{% static 'assets/icons/apple-icon-120x120.png' %}">
    <link rel="apple-touch-icon" sizes="144x144" href="{% static 'assets/icons/apple-icon-144x144.png' %}">
    <link rel="apple-touch-icon" sizes="152x152" href="{% static 'assets/icons/apple-icon-152x152.png' %}">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'assets/icons/apple-icon-180x180.png' %}">
    <link rel="icon" type="image/png" sizes="192x192"
        href="{% static 'assets/icons/android-icon-192x192.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'assets/icons/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="96x96" href="{% static 'assets/favicon-96x96.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'assets/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'assets/manifest.json' %} ">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png' %}">
    <meta name="theme-color" content="#ffffff">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.2/css/bulma.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/panel.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/verify.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.2/css/bulma.min.css">
    <link href="{% static 'css/bulma-calendar.css' %}" rel="stylesheet">
    <link href="{% static 'css/basic.min.css' %}" type="text/css" rel="stylesheet" />
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <link rel='stylesheet' href="{% static 'css/bulma-switch.min.css' %}">
    <link rel='stylesheet' href="{% static 'css/bulma-checkradio.min.css' %}">
    <title> Nowa oferta | Hercules</title>
</head>

<body>
{% include "hercules_app/main_panel.html" %}
    <div class="wrapper">
        <div class="columns">
            <aside class="column is-2 aside is-hidden-mobile is-placed-left">
                <nav class="menu">
                    <p class="menu-label">
                        Menu główne
                    </p>
                    <ul class="menu-list">
                        <li>
                            <a class="panel-option">
                                <p class="option main-site">Panel systemu</p>
                            </a>
                        </li>
                        <li>
                            <a class="panel-option">
                                <p class="option download">Pobierz aplikację</p>
                            </a>
                        </li>
                    </ul>
                    <p class="menu-label">
                        Kierowca
                    </p>
                    <ul class="menu-list">
                        <li>
                            <a href="/drivers-card">
                                <p class="option driver-card">Karta kierowcy</p>
                            </a>
                        </li>
                        <li>
                            <a href="/add-delivery">
                                <p class="option add-delivery">Dodaj dostawę</p>
                            </a>
                        </li>
                        <li>
                            <a class="is-active" href="/Gielda/Offers/">
                                <p class="option gielda">Giełda zleceń</p>
                            </a>
                        </li>
                        <li>
                            <a href="/Dispositions">
                                <p class="option dispositions">Dyspozycje</p>
                            </a>
                        </li>
                        <li>
                            <a href="/Deliveries">
                                <p class="option deliveries">Twoje dostawy</p>
                            </a>
                        </li>
                    </ul>
                    <p class="menu-label">
                        Spedycja
                    </p>
                    <ul class="menu-list">
                        {% if position is None %}
                        <li>
                            <a href="/Companies">
                                <p class="option search-company">
                                    Znajdź firmę
                                </p>
                            </a>
                        </li>
                        {% elif position is not None %}
                        <li>
                            <a href="/Company/CompanyProfile">
                                <p class="option company-profile">
                                    Profil firmy
                                </p>
                            </a>
                        </li>
                        <li>
                            <a href="/Company/Drivers">
                                <p class="option drivers">
                                    Kierowcy
                                </p>
                            </a>
                        </li>
                        {% endif %}
                        <li>
                            <a href="/Vehicles">
                                <p class="option vehicles">{% if position is None %} Twoje pojazdy {% else %}
                                    Pojazdy
                                    firmowe {% endif %}</p>
                            </a>
                        </li>
                        {% if position == "Szef" or position == "Spedytor" %}
                        <li>
                            <a href="/Company/Waybills">
                                <p class="option waybills">Listy przewozowe</p>
                            </a>
                        </li>
                        <li>
                            <a href="/Company/Dispositions">
                                <p class="option dispositions">Dyspozycje firmowe</p>
                            </a>
                        </li>
                        {% endif %}
                    {% if position == "Szef" %}
                        <li>
                            <a href="/Company/Settings">
                                <p class="option settings">Ustawienia firmy</p>
                            </a>
                        </li>
                        <li>
                            <a href="/Company/JobApplications">
                                <p class="option settings">Podania o pracę</p>
                            </a>
                        </li>
                    {% endif %}
                    {% if position is None %}
                    <li>
                        <a href="/JobApplications">
                            <p class="option settings">Podania o pracę</p>
                        </a>
                    </li>
                    {% endif %}
                    </ul>
                </nav>
            </aside>
            <main class="column main">
                <h1 class="title">Nowa <span class="colored">oferta</span> </h1>
                <div class="box card">
                    <form action="/Gielda/Offers/NewOffer" method="POST" class="newOfferForm">
                        {% csrf_token %}
                        <div class="basic-info">
                            <b><span class="colored">Podstawowe </span> informacje</b>
                            <div class="columns basic-info-cols is-gapless">
                                <div class="column">
                                    <div class="field">
                                        <label class="label">Miasto załadunku</label>
                                        <div class="control">
                                            {{ form.loading_city }}
                                        </div>
                                    </div>
                                    {{ form.loading_country }}
                                    <div class="field">
                                        <label class="label">Spedycja załadunku</label>
                                        <div class="control">
                                            {{ form.loading_spedition }}
                                        </div>
                                    </div>
                                    <div class="field">
                                        <label class="label">Ładunek</label>
                                        <div class="control">
                                            {{ form.cargo }}
                                        </div>
                                        {{ form.adr }}
                                    </div>
                                    <div class="field">
                                        <label class="label">Cena oferty</label>
                                        <div class="field has-addons">
                                            <div class="control">
                                                {{ form.price }}
                                            </div>
                                            <div class="control">
                                                <a class="button is-static">
                                                    zł
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="column">
                                    <div class="field">
                                        <label class="label">Miasto rozładunku</label>
                                        <div class="control">
                                            {{ form.unloading_city }}
                                        </div>
                                    </div>
                                    {{ form.loading_country }}
                                    <div class="field">
                                        <label class="label">Spedycja rozładunku</label>
                                        <div class="control">
                                            {{ form.unloading_spedition }}
                                        </div>
                                    </div>
                                    <div class="field">
                                        <label for="" class="label">Tonaż</label>
                                        <div class="field has-addons">
                                            <div class="control">
                                                {{ form.tonnage }}
                                            </div>
                                            <div class="control">
                                                <a class="button is-static">
                                                    kg
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        <div class="field is-grouped">
                            <div class="control">
                                <button type="submit" class="button next">Dodaj ofertę</a>
                            </div>
                        </div>
                    </form>
                </div>
            </main>
        </div>
    </div>
</body>
<script defer src="https://cdn.jsdelivr.net/npm/@tarekraafat/autocomplete.js@7.2.0/dist/js/autoComplete.min.js">
    </script>

<script defer src="{% static 'js/autocomplete_spedition.js' %}"></script>
</html>