
{% load static %}
<!DOCTYPE html>
<html lang="pl-pl">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description"
        content="Hercules to najlepszy polski system rozliczeń dla wirtualnych spedycji w ETS2. Dołącz do nas już teraz i zostań herosem transportu!">

    <link rel="apple-touch-icon" sizes="57x57" href="{% static '/assets/icons/apple-icon-57x57.png' %}">
    <link rel="apple-touch-icon" sizes="60x60" href="{% static '/assets/icons/apple-icon-60x60.png' %}">
    <link rel="apple-touch-icon" sizes="72x72" href="{% static '/assets/icons/apple-icon-72x72.png' %}">
    <link rel="apple-touch-icon" sizes="76x76" href="{% static '/assets/icons/apple-icon-76x76.png' %}">
    <link rel="apple-touch-icon" sizes="114x114" href="{% static '/assets/icons/apple-icon-114x114.png' %}">
    <link rel="apple-touch-icon" sizes="120x120" href="{% static '/assets/icons/apple-icon-120x120.png' %}">
    <link rel="apple-touch-icon" sizes="144x144" href="{% static '/assets/icons/apple-icon-144x144.png' %}">
    <link rel="apple-touch-icon" sizes="152x152" href="{% static '/assets/icons/apple-icon-152x152.png' %}">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static '/assets/icons/apple-icon-180x180.png' %}">
    <link rel="icon" type="image/png" sizes="192x192" href="{% static '/assets/icons/android-icon-192x192.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static '/assets/icons/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="96x96" href="{% static '/assets/icons/favicon-96x96.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static '/assets/icons/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static '/assets/manifest.json' %} ">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="{% static '/assets/icons/ms-icon-144x144.png' %}">
    <meta name="theme-color" content="#ffffff">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/panel.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/verify.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>

    <title> Dostawa #{{ delivery.id }} | Hercules</title>
</head>

<body>
{% include "hercules_app/main_panel.html" %}
    <div class="wrapper">
        <div class="columns">
            <aside class="column is-2 aside is-hidden-mobile is-placed-left">
                <nav class="menu">
                    <p class="menu-label">
                        Menu główne
                    </p>
                    <ul class="menu-list">
                        <li>
                            <a href="/panel">
                                <p class="option main-site">Panel systemu</p>
                            </a>
                        </li>
                        <li>
                            <a class="panel-option" href="/download">
                                <p class="option download">Pobierz aplikację</p>
                            </a>
                        </li>
                    </ul>
                    <p class="menu-label">
                        Kierowca
                    </p>
                    <ul class="menu-list">
                        <li>
                            <a href='/drivers-card'>
                                <p class="option driver-card">Karta kierowcy</p>
                            </a>
                        </li>
                        <li>
                            <a href="/add-delivery">
                                <p class="option add-delivery">Dodaj dostawę</p>
                            </a>
                        </li>
                        <li>
                            <a href="/Gielda/Offers">
                                <p class="option gielda">Giełda zleceń</p>
                            </a>
                        </li>
                        <li>
                            <a href="/Dispositions">
                                <p class="option dispositions">Dyspozycje</p>
                            </a>
                        </li>
                        <li>
                            <a class="is-active" href="/Deliveries">
                                <p class="option deliveries">Twoje dostawy</p>
                            </a>
                        </li>
                    </ul>
                    <p class="menu-label">
                        Spedycja
                    </p>
                    <ul class="menu-list">
                        {% if position is None %}
                        <li>
                            <a href="/Companies">
                                <p class="option search-company">
                                    Znajdź firmę
                                </p>
                            </a>
                        </li>
                        {% elif position is not None %}
                        <li>
                            <a href="/CompanyProfile">
                                <p class="option company-profile">
                                    Profil firmy
                                </p>
                            </a>
                        </li>
                        <li>
                            <a href="/Company/Drivers">
                                <p class="option drivers">
                                    Kierowcy
                                </p>
                            </a>
                        </li>
                        {% endif %}
                        <li>
                            <a href="/Vehicles">
                                <p class="option vehicles">{% if position is None %} Twoje pojazdy {% else %} Pojazdy
                                    firmowe {% endif %}</p>
                            </a>
                        </li>
                        {% if position == "Szef" or position == "Spedytor" %}
                        <li>
                            <a href="/Company/Waybills">
                                <p class="option waybills">Listy przewozowe</p>
                            </a>
                        </li>
                        <li>
                            <a href="/Company/Dispositions">
                                <p class="option dispositions">Dyspozycje firmowe</p>
                            </a>
                        </li>
                        {% endif %}
{% if position == "Szef" %}
                        <li>
                            <a href="/Settings">
                                <p class="option settings">Ustawienia firmy</p>
                            </a>
                        </li>
                        {% endif %}
                        {% if position == "Szef" %}
                        <li>
                            <a href="/Company/JobApplications">
                                <p class="option settings">Podania o pracę</p>
                            </a>
                        </li>
                        {% endif %}
                    </ul>
                </nav>
            </aside>
            <main class="column main">
                <h1 class="title">Dostawa #{{ delivery.id }} </h1>
                {% if delivery.status == "declined" %}
                <div class="box card">
                    <div class="notification is-danger">
                        <h1 class="notification-title">Trasa odrzucona</h1>
                        <p class="subtitle"><b>Powód: </b>{{ delivery.reject_reason }}</p>
                    </div>
                </div>
                {% elif delivery.status == "to-edit" %}
                <div class="box card">
                    <div class="notification is-warning">
                        <h1 class="notification-title">Trasa odesłana do poprawki</h1>
                        <p class="subtitle"><b>Powód: </b>{{ delivery.to_edit_reason }}</p>
                    </div>
                </div>
                {% endif %}
                <div class="box card">
                    <div class="basic-info">
                        <b><span class="colored">Podstawowe </span> informacje</b>
                        {% if delivery.status == 'to-edit' %}
                        <form action="/EditWaybill/{{ delivery.id }}" method="POST">
                            {% csrf_token %}
                                <div class="columns basic-info-cols is-gapless">
                                    <div class="column">
                                        <div class="field">
                                            <label class="label">Miasto załadunku</label>
                                            <div class="control">
                                                {{ form.loading_city }}
                                            </div>
                                            {% with '/assets/waybills/'|add:delivery.screens_id|add:'loading-info.png' as image_static %}
                                            <img src="{% static image_static %}" class="static-screenshot">
                                            {% endwith %}
                                        </div>
                                        <div class="field">
                                            <label class="label">Spedycja załadunku</label>
                                            <div class="control">
                                                {{ form.loading_spedition }}
                                            </div>
                                            {% with '/assets/waybills/'|add:delivery.screens_id|add:'loading-info.png' as image_static %}
                                            <img src="{% static image_static %}" class="static-screenshot">
                                            {% endwith %}
                                        </div>
                                        <div class="field">
                                            <label class="label">Ładunek</label>
                                            <div class="control">
                                                {{ form.cargo }}
                                            </div>
                                            {% with '/assets/waybills/'|add:delivery.screens_id|add:'cargo.png' as image_static %}
                                            <img src="{% static image_static %}" class="static-screenshot">
                                            {% endwith %}
                                        </div>

                                        <hr>

                                        <b><span class="colored">Statystyki </span></b>
                                    </div>
                                    <div class="column">
                                        <div class="field">
                                            <label class="label">Miasto rozładunku</label>
                                            <div class="control">
                                                {{ form.unloading_city }}
                                            </div>
                                            {% with '/assets/waybills/'|add:delivery.screens_id|add:'unloading-info.png' as image_static %}
                                            <img src="{% static image_static %}" class="static-screenshot">
                                            {% endwith %}
                                        </div>
                                        <div class="field">
                                            <label class="label">Spedycja rozładunku</label>
                                            <div class="control">
                                                {{ form.unloading_spedition }}
                                            </div>
                                            {% with '/assets/waybills/'|add:delivery.screens_id|add:'unloading-info.png' as image_static %}
                                            <img src="{% static image_static %}" class="static-screenshot">
                                            {% endwith %}
                                        </div>
                                        <div class="static-field">
                                            <label for="" class="label static-label">Tonaż</label>
                                            <div class="field has-addons">
                                                <div class="control">
                                                    {{ form.tonnage }}
                                                </div>
                                                <div class="control">
                                                    <a class="button is-static">
                                                        kg
                                                    </a>
                                                </div>
                                            </div>
                                            {% with '/assets/waybills/'|add:delivery.screens_id|add:'tonnage.png' as image_static %}
                                            <img src="{% static image_static %}" class="static-screenshot">
                                            {% endwith %}
                                        </div>
                                        <hr>
                                    </div>
                                </div>
                                <div class=" stats">
                                    <div class="columns">
                                        <div class="column">
                                            <div class="static-field">
                                                <label for="" class="label static-label">Przejechany dystans</label>
                                                <div class="field has-addons">
                                                    <div class="control">
                                                        {{ form.distance }}
                                                    </div>
                                                    <div class="control">
                                                        <a class="button is-static">
                                                            km
                                                        </a>
                                                    </div>
                                                </div>
                                                {% with '/assets/waybills/'|add:delivery.screens_id|add:'distance.png' as image_static %}
                                                <img src="{% static image_static %}" class="static-screenshot">
                                                {% endwith %}
                                            </div>
                                            <div class="static-field">
                                                <label for="" class="label static-label">Uszkodzenia towaru</label>
                                                <div class="field has-addons">
                                                    <div class="control">
                                                        {{ form.damage }}
                                                    </div>
                                                    <div class="control">
                                                        <a class="button is-static">
                                                            %
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="column">
                                            <div class="static-field">
                                                <label for="" class="label static-label">Spalone paliwo</label>
                                                <div class="field has-addons">
                                                    <div class="control">
                                                        {{ form.fuel }}
                                                    </div>
                                                    <div class="control">
                                                        <a class="button is-static">
                                                            litrów
                                                        </a>
                                                    </div>
                                                </div>
                                               {% with '/assets/waybills/'|add:delivery.screens_id|add:'fuel.png' as image_static %}
                                               <img src="{% static image_static %}" class="static-screenshot">
                                               {% endwith %}

                                            </div>
                                            <div class="static-field">
                                                <label for="" class="label static-label">Notatka kierowcy</label>
                                                <div class="field has-addons">
                                                    <textarea class="textarea has-fixed-size"></textarea>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="column">
                                            <div class="static-field">
                                                <label for="" class="label static-label">Dochód</label>
                                                <div class="field has-addons">
                                                    <div class="control">
                                                        {{ form.income }}
                                                    </div>
                                                    <div class=" control">
                                                        <a class="button is-static">
                                                            zł
                                                        </a>
                                                    </div>
                                                </div>
                                                {% with '/assets/waybills/'|add:delivery.screens_id|add:'income.png' as image_static %}
                                                <img src="{% static image_static %}" class="static-screenshot">
                                                {% endwith %}
                                            </div>
                                        </div>
                                    </div>
                            <div class="field is-grouped">
                                <div class="control">
                                    <button type="submit" class="button next">Popraw trasę</a>
                                </div>
                            </div>
                        </form>
                        {% endif %}
                        {% if delivery.status != 'to-edit' %}
                        <div class="columns basic-info-cols is-gapless">
                            <div class="column">
                                <div class="field">
                                    <label class="label">Miasto załadunku</label>
                                    <div class="control">
                                        <input type="text" class="input" readonly value="{{ delivery.loading_city }}">
                                    </div>
                                </div>
                                <div class="field">
                                    <label class="label">Spedycja załadunku</label>
                                    <div class="control">
                                        <input type="text" class="input" readonly value="{{ delivery.loading_spedition }}">
                                    </div>
                                </div>
                                <div class="field">
                                    <label class="label">Ładunek</label>
                                    <div class="control">
                                        <input type="text" class="input" readonly value="{{ delivery.cargo }}">
                                    </div>
                                </div>
                                <b><span class="colored">Statystyki </span></b>
                            </div>
                            <div class="column">
                                <div class="field">
                                    <label class="label">Miasto rozładunku</label>
                                    <div class="control">
                                        <input type="text" class="input" readonly value="{{ delivery.unloading_city }}">
                                    </div>
                                </div>
                                <div class="field">
                                    <label class="label">Spedycja rozładunku</label>
                                    <div class="control">
                                        <input type="text" class="input" readonly value="{{ delivery.unloading_spedition }}">
                                    </div>
                                </div>
                                <div class="static-field">
                                    <label for="" class="label static-label">Tonaż</label>
                                    <div class="field has-addons">
                                        <div class="control">
                                            <input type="text" class="input" readonly
                                                value="{{ delivery.tonnage }}">
                                        </div>
                                        <div class="control">
                                            <a class="button is-static">
                                                kg
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class=" stats">
                            <div class="columns">
                                <div class="column">
                                    <div class="static-field">
                                        <label for="" class="label static-label">Przejechany dystans</label>
                                        <div class="field has-addons">
                                            <div class="control">
                                                <input type="text" class="input" readonly
                                                    value="{{ delivery.distance }}">
                                            </div>
                                            <div class="control">
                                                <a class="button is-static">
                                                    km
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="static-field">
                                        <label for="" class="label static-label">Uszkodzenia towaru</label>
                                        <div class="field has-addons">
                                            <div class="control">
                                                <input type="text" class="input" readonly
                                                    value="{{ delivery.damage }}">
                                            </div>
                                            <div class="control">
                                                <a class="button is-static">
                                                    %
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="column">
                                    <div class="static-field">
                                        <label for="" class="label static-label">Spalone paliwo</label>
                                        <div class="field has-addons">
                                            <div class="control">
                                                <input type="text" class="input" readonly
                                                    value="{{ delivery.fuel }}">
                                            </div>
                                            <div class="control">
                                                <a class="button is-static">
                                                    litrów
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="static-field">
                                        <label for="" class="label static-label">Notatka kierowcy</label>
                                        <div class="field has-addons">
                                            <textarea class="textarea has-fixed-size" readonly>{{ delivery.note }}</textarea>
                                        </div>
                                    </div>
                                </div>
                                <div class="column">
                                    <div class="static-field">
                                        <label for="" class="label static-label">Dochód</label>
                                        <div class="field has-addons">
                                            <div class="control">
                                                <input type="text" class="input" readonly
                                                    value="{{ delivery.income }}">
                                            </div>
                                            <div class=" control">
                                                <a class="button is-static">
                                                    zł
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endif %}
            </main>
        </div>
    </div>
</body>

</html>