
{% load static %}
<!DOCTYPE html>
<html lang="pl-pl">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description"
        content="Hercules to najlepszy polski system rozliczeń dla wirtualnych spedycji w ETS2. Dołącz do nas już teraz i zostań herosem transportu!">

    <link rel="apple-touch-icon" sizes="57x57" href="{% static '/assets/icons/apple-icon-57x57.png' %}">
    <link rel="apple-touch-icon" sizes="60x60" href="{% static '/assets/icons/apple-icon-60x60.png' %}">
    <link rel="apple-touch-icon" sizes="72x72" href="{% static '/assets/icons/apple-icon-72x72.png' %}">
    <link rel="apple-touch-icon" sizes="76x76" href="{% static '/assets/icons/apple-icon-76x76.png' %}">
    <link rel="apple-touch-icon" sizes="114x114" href="{% static '/assets/icons/apple-icon-114x114.png' %}">
    <link rel="apple-touch-icon" sizes="120x120" href="{% static '/assets/icons/apple-icon-120x120.png' %}">
    <link rel="apple-touch-icon" sizes="144x144" href="{% static '/assets/icons/apple-icon-144x144.png' %}">
    <link rel="apple-touch-icon" sizes="152x152" href="{% static '/assets/icons/apple-icon-152x152.png' %}">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static '/assets/icons/apple-icon-180x180.png' %}">
    <link rel="icon" type="image/png" sizes="192x192" href="{% static '/assets/icons/android-icon-192x192.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static '/assets/icons/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="96x96" href="{% static '/assets/icons/favicon-96x96.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static '/assets/icons/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static '/assets/manifest.json' %} ">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="{% static '/assets/icons/ms-icon-144x144.png' %}">
    <meta name="theme-color" content="#ffffff">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/panel.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/dispositions.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/deliveries.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.4/toastr.min.js"></script>
    <script defer src="{% static 'js/toast.js' %}"></script>
    <title> Twoje dostawy | Hercules</title>
</head>

<body>
{% include "hercules_app/main_panel.html" %}
    <div class="wrapper">
        <div class="columns">
            <aside class="column is-2 aside is-hidden-mobile is-placed-left">
                <nav class="menu">
                    <p class="menu-label">
                        Menu główne
                    </p>
                    <ul class="menu-list">
                        <li>
                            <a href="/panel">
                                <p class="option main-site">Panel systemu</p>
                            </a>
                        </li>
                        <li>
                            <a class="panel-option" href="/download">
                                <p class="option download">Pobierz aplikację</p>
                            </a>
                        </li>
                    </ul>
                    <p class="menu-label">
                        Kierowca
                    </p>
                    <ul class="menu-list">
                        <li>
                            <a href='/drivers-card'>
                                <p class="option driver-card">Karta kierowcy</p>
                            </a>
                        </li>
                        <li>
                            <a href="/add-delivery">
                                <p class="option add-delivery">Dodaj dostawę</p>
                            </a>
                        </li>
                        <li>
                            <a href="/Gielda/Offers">
                                <p class="option gielda">Giełda zleceń</p>
                            </a>
                        </li>
                        <li>
                            <a href="/Dispositions">
                                <p class="option dispositions">Dyspozycje</p>
                            </a>
                        </li>
                        <li>
                            <a {% if not is_speditor_view %} class="is-active" {% endif %} href="/Deliveries">
                                <p class="option deliveries">Twoje dostawy</p>
                            </a>
                        </li>
                    </ul>
                    <p class="menu-label">
                        Spedycja
                    </p>
                    <ul class="menu-list">
                        {% if position == "" %}
                        <li>
                            <a href="/Companies">
                                <p class="option search-company">
                                    Znajdź firmę
                                </p>
                            </a>
                        </li>
                        {% elif position != "" %}
                        <li>
                            <a href="/CompanyProfile">
                                <p class="option company-profile">
                                    Profil firmy
                                </p>
                            </a>
                        </li>
                        <li>
                            <a href="/Drivers">
                                <p class="option drivers">
                                    Kierowcy
                                </p>
                            </a>
                        </li>
                        {% endif %}
                        <li>
                            <a href="/Vehicles">
                                <p class="option vehicles">{% if position == "" %} Twoje pojazdy {% else %} Pojazdy
                                    firmowe {% endif %}</p>
                            </a>
                        </li>
                        {% if position == "Szef" or position == "Spedytor" %}
                        <li>
                            <a href="/Waybills">
                                <p class="option waybills">Listy przewozowe</p>
                            </a>
                        </li>
                        <li>
                            <a href="/CompanyDispositions">
                                <p class="option dispositions">Dyspozycje firmowe</p>
                            </a>
                        </li>
                        {% endif %}
{% if position == "Szef" %}
                        <li>
                            <a href="/Settings">
                                <p class="option settings">Ustawienia firmy</p>
                            </a>
                        </li>
                        {% endif %}
                        {% if position == "Szef" %}
                        <li>
                            <a href="/JobApplications">
                                <p class="option settings">Podania o pracę</p>
                            </a>
                        </li>
                        {% endif %}
                    </ul>
                </nav>
            </aside>
            <main class="column main">
                {% if not is_speditor_view %}
                <header>
                    <h1 class="title">Twoje dostawy</h1>
                </header>
                {% if deliveries %}
                {% for delivery in deliveries %}
                <div class="box delivery {{ delivery.status }}">
                    <div class="columns">
                        <div class="column">
                            <div class="loading-info">
                                {% with '/assets/countries/'|add:delivery.loading_country|add:'.png' as image_static %}
                                <img src="{% static image_static %}" class="country-icon">
                                {% endwith %}
                                <span class="city-and-company">
                                    <p class="city">{{ delivery.loading_city }}</p>
                                    {% with '/assets/companies/'|add:delivery.loading_spedition|add:'.png' as image_static %}
                                    <img src="{% static image_static %}" class="company">
                                    {% endwith %}
                                </span>
                            </div>
                        </div>
                        <div class="column">
                            <div class="unloading-info">
                                {% with '/assets/countries/'|add:delivery.unloading_country|add:'.png' as image_static %}
                                <img src="{% static image_static %}" class="country-icon">
                                {% endwith %}
                                <span class="city-and-company">
                                    <p class="city">{{ delivery.unloading_city }}</p>
                                    {% with '/assets/companies/'|add:delivery.loading_spedition|add:'.png' as image_static %}
                                    <img src="{% static image_static %}" class="company">
                                    {% endwith %}
                                </span>
                            </div>
                        </div>
                        <div class="column">
                            <div class="cargo">
                                <span class="cargo">
                                    <b>{{ delivery.cargo }}</b>
                                    <br>
                                    {{ delivery.tonnage }} kg
                                </span>
                            </div>
                        </div>
                        <div class="column">
                            <div class="deadline">
                                <span class="date">
                                    <b>Data wykonania:</b>
                                    <br>
                                    {{ delivery.finish_date|date:"d b Y, H:m"  }}
                                </span>
                            </div>
                        </div>
                        <div class="column">
                            <div class="tags">
                                {% if delivery.status == "accepted" %}
                                <span class="tag status-tag is-medium accepted-tag">Trasa zaakceptowana</span>
                                {% elif delivery.status == "to-edit" %}
                                <span class="tag status-tag is-medium to-edit-tag">Trasa do poprawy</span>
                                {% elif delivery.status == "rejected" %}
                                <span class="tag status-tag is-medium declined-tag">Trasa odrzucona</span>
                                {% elif delivery.status == "not-checked" %}
                                <span class="tag status-tag is-medium not-checked-tag">Trasa niesprawdzona</span>
                                {% endif %}
                            </div>
                        </div>
                        <div class="column">
                            <a href="/Deliveries/{{ delivery.id }}" class="button check-details">Sprawdź szczegóły</a>
                        </div>
                    </div>
                </div>
                {% endfor %}
                {% else %}
                <div class="box delivery">
                    <div class="no-disposition">
                        <img src="{% static 'assets/icons/no_disposition.png' %}" class="no-disposition-icon">
                        <span class="no-disposition-text">
                            <h1 class="no-disposition-title">Nie masz żadnych ostatnich zleceń.</h1>
                            <p class="sub-text">
                                Wykonaj zlecenia w grze, a następnie dodaj je przez formularz Nowa dostawa lub włącz
                                aplikację Assistant, która zadba o automatyczne wysłanie po zakończeniu trasy.
                            </p>
                        </span>
                    </div>
                </div>
                {% endif %}
            {% else %}
            <header>
                <h1 class="title">Dostawy spedycji</h1>
            </header>
            {% if deliveries %}
            {% for delivery in deliveries %}
            <div class="box delivery {{ delivery.status }}">
                <div class="columns">
                    <div class="column">
                        <div class="driver-basic-info">
                            <img src="{{ delivery.driver.avatar.url }}" class="driver-avatar">
                            <span class="user">
                                <p class="driver-username">{{ delivery.driver.nick }}</p>
                            </span>
                        </div>
                    </div>
                    <div class="column">
                        <div class="loading-info">
                            {% with '/assets/countries/'|add:delivery.loading_country|add:'.png' as image_static %}
                            <img src="{% static image_static %}" class="country-icon">
                            {% endwith %}
                            <span class="city-and-company">
                                <p class="city">{{ delivery.loading_city }}</p>
                                {% with '/assets/companies/'|add:delivery.loading_spedition|add:'.png' as image_static %}
                                <img src="{% static image_static %}" class="company">
                                {% endwith %}
                            </span>
                        </div>
                    </div>
                    <div class="column">
                        <div class="unloading-info">
                            {% with '/assets/countries/'|add:delivery.unloading_country|add:'.png' as image_static %}
                            <img src="{% static image_static %}" class="country-icon">
                            {% endwith %}
                            <span class="city-and-company">
                                <p class="city">{{ delivery.unloading_city }}</p>
                                {% with '/assets/companies/'|add:delivery.loading_spedition|add:'.png' as image_static %}
                                <img src="{% static image_static %}" class="company">
                                {% endwith %}
                            </span>
                        </div>
                    </div>
                    <div class="column">
                        <div class="cargo">
                            <span class="cargo">
                                <b>{{ delivery.cargo }}</b>
                                <br>
                                {{ delivery.tonnage }} kg
                            </span>
                        </div>
                    </div>
                    <div class="column">
                        <div class="deadline">
                            <span class="date">
                                <b>Data wykonania:</b>
                                <br>
                                {{ delivery.finish_date|date:"d b Y, H:m" }}
                            </span>
                        </div>
                    </div>
                    <div class="column">
                        <a href="/Waybills/{{ delivery.id }}" class="button check-details">Sprawdź szczegóły</a>
                    </div>
                </div>
            </div>
            {% endfor %}
            {% else %}
            <div class="box delivery">
                <div class="no-disposition">
                    <img src="{% static 'assets/icons/no_disposition.png' %}" class="no-disposition-icon">
                    <span class="no-disposition-text">
                        <h1 class="no-disposition-title">Nie masz żadnych zleceń.</h1>
                        <p class="sub-text">
                            Spedycja nie przyjęła żadnych zleceń, które możesz sprawdzić.
                        </p>
                    </span>
                </div>
            </div>
            {% endif %}
            {% endif %}
            </main>
        </div>
    </div>
</body>

</html>