
{% load static %}
<!DOCTYPE html>
<html lang="pl-pl">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description"
        content="Hercules to najlepszy polski system rozliczeń dla wirtualnych spedycji w ETS2. Dołącz do nas już teraz i zostań herosem transportu!">

    <link rel="apple-touch-icon" sizes="57x57" href="{% static '/assets/icons/apple-icon-57x57.png' %}">
    <link rel="apple-touch-icon" sizes="60x60" href="{% static '/assets/icons/apple-icon-60x60.png' %}">
    <link rel="apple-touch-icon" sizes="72x72" href="{% static '/assets/icons/apple-icon-72x72.png' %}">
    <link rel="apple-touch-icon" sizes="76x76" href="{% static '/assets/icons/apple-icon-76x76.png' %}">
    <link rel="apple-touch-icon" sizes="114x114" href="{% static '/assets/icons/apple-icon-114x114.png' %}">
    <link rel="apple-touch-icon" sizes="120x120" href="{% static '/assets/icons/apple-icon-120x120.png' %}">
    <link rel="apple-touch-icon" sizes="144x144" href="{% static '/assets/icons/apple-icon-144x144.png' %}">
    <link rel="apple-touch-icon" sizes="152x152" href="{% static '/assets/icons/apple-icon-152x152.png' %}">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static '/assets/icons/apple-icon-180x180.png' %}">
    <link rel="icon" type="image/png" sizes="192x192"
        href="{% static '/assets/icons/android-icon-192x192.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static '/assets/icons/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="96x96" href="{% static '/assets/icons/favicon-96x96.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static '/assets/icons/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static '/assets/icons/manifest.json' %} ">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="{% static '/assets/icons/ms-icon-144x144.png' %}">
    <meta name="theme-color" content="#ffffff">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/panel.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/dispositions.css' %}">
    <link rel="stylesheet" href="{% static 'css/deliveries.css' %}">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <title>Dyspozycje firmowe | Hercules</title>
</head>

<body>
{% include "hercules_app/main_panel.html" %}
    <div class="wrapper">
        <div class="columns">
            <aside class="column is-2 aside is-hidden-mobile is-placed-left">
                <nav class="menu">
                    <p class="menu-label">
                        Menu główne
                    </p>
                    <ul class="menu-list">
                        <li>
                            <a href="/panel">
                                <p class="option main-site">Panel systemu</p>
                            </a>
                        </li>
                        <li>
                            <a class="panel-option" href="/download">
                                <p class="option download">Pobierz aplikację</p>
                            </a>
                        </li>
                    </ul>
                    <p class="menu-label">
                        Kierowca
                    </p>
                    <ul class="menu-list">
                        <li>
                            <a href='/drivers-card'>
                                <p class="option driver-card">Karta kierowcy</p>
                            </a>
                        </li>
                        <li>
                            <a href="/add-delivery">
                                <p class="option add-delivery">Dodaj dostawę</p>
                            </a>
                        </li>
                        <li>
                            <a href="/Gielda/Offers">
                                <p class="option gielda">Giełda zleceń</p>
                            </a>
                        </li>
                        <li>
                            <a href="/Dispositions">
                                <p class="option dispositions">Dyspozycje</p>
                            </a>
                        </li>
                        <li>
                            <a href="/Deliveries">
                                <p class="option deliveries">Twoje dostawy</p>
                            </a>
                        </li>
                    </ul>
                    <p class="menu-label">
                        Spedycja
                    </p>
                    <ul class="menu-list">
                        {% if position == "" %}
                        <li>
                            <a href="/Companies">
                                <p class="option search-company">
                                    Znajdź firmę
                                </p>
                            </a>
                        </li>
                        {% elif position != "" %}
                        <li>
                            <a href="/CompanyProfile">
                                <p class="option company-profile">
                                    Profil firmy
                                </p>
                            </a>
                        </li>
                        <li>
                            <a href="/Drivers">
                                <p class="option drivers">
                                    Kierowcy
                                </p>
                            </a>
                        </li>
                        {% endif %}
                        <li>
                            <a href="/Vehicles">
                                <p class="option vehicles">{% if position == "" %} Twoje pojazdy {% else %} Pojazdy
                                    firmowe {% endif %}</p>
                            </a>
                        </li>
                        {% if position == "Szef" or position == "Spedytor" %}
                        <li>
                            <a href="/Waybills">
                                <p class="option waybills">Listy przewozowe</p>
                            </a>
                        </li>
                        <li>
                            <a class="is-active" href="/CompanyDispositions">
                                <p class="option dispositions">Dyspozycje firmowe</p>
                            </a>
                        </li>
                        {% endif %}
{% if position == "Szef" %}
                        <li>
                            <a href="/Settings">
                                <p class="option settings">Ustawienia firmy</p>
                            </a>
                        </li>
                        {% endif %}
                        {% if position == "Szef" %}
                        <li>
                            <a href="/JobApplications">
                                <p class="option settings">Podania o pracę</p>
                            </a>
                        </li>
                        {% endif %}
                    </ul>
                </nav>
            </aside>
            <main class="column main">
                <header>
                    <h1 class="title">Dyspozycje</h1>
                </header>
                <a href="/Dispositions/AddNewDisposition" class="button add-disposition">+ Dodaj dyspozycję</a>
                {% if rozpiski %}
                {% for rozpiska in rozpiski %}
                {% for company_rozpiska in rozpiska %}
                <div class="box card">
                    <div class="columns">
                        <div class="column">
                            <div class="driver-basic-info">
                                <img src="{{ company_rozpiska.first_disposition.driver.avatar.url }}" class="driver-avatar">
                                <span class="user">
                                    <p class="driver-username">{{ company_rozpiska.first_disposition.driver.nick }}</p>
                                </span>
                            </div>
                        </div>
                        <div class="column">
                            <div
                                class="rozpiska-loading-info {% if company_rozpiska.first_disposition.finished %} finished {% endif %}">
                                {% with '/assets/countries/'|add:company_rozpiska.first_disposition.loading_country|add:'.png' as image_static %}
                                <img src="{% static image_static %}" class="country-icon">
                                {% endwith %}
                                <span class="city-and-company">
                                    <p class="city">{{ company_rozpiska.first_disposition.loading_city }}</p>
                                    {% with '/assets/companies/'|add:company_rozpiska.first_disposition.loading_spedition|add:'.png' as image_static %}
                                    <img src="{% static image_static %}" class="company">
                                    {% endwith %}
                                </span>
                            </div>
                            <div
                                class="rozpiska-loading-info {% if company_rozpiska.second_disposition.finished %} finished {% endif %}">
                                {% with '/assets/countries/'|add:company_rozpiska.second_disposition.loading_country|add:'.png' as image_static %}
                                <img src="{% static image_static %}" class="country-icon">
                                {% endwith %}
                                <span class="city-and-company">
                                    <p class="city">{{ company_rozpiska.second_disposition.loading_city }}</p>
                                    {% with '/assets/companies/'|add:company_rozpiska.second_disposition.loading_spedition|add:'.png' as image_static %}
                                    <img src="{% static image_static %}" class="company">
                                    {% endwith %}
                                </span>
                            </div>
                            <div
                                class="rozpiska-loading-info {% if company_rozpiska.third_disposition.finished %} finished {% endif %}">
                                {% with '/assets/countries/'|add:company_rozpiska.third_disposition.loading_country|add:'.png' as image_static %}
                                <img src="{% static image_static %}" class="country-icon">
                                {% endwith %}
                                <span class="city-and-company">
                                    <p class="city">{{ company_rozpiska.third_disposition.loading_city }}</p>
                                    {% with '/assets/companies/'|add:company_rozpiska.third_disposition.loading_spedition|add:'.png' as image_static %}
                                    <img src="{% static image_static %}" class="company">
                                    {% endwith %}
                                </span>
                            </div>
                            <div
                                class="rozpiska-loading-info {% if company_rozpiska.fourth_disposition.finished %} finished {% endif %}">
                                {% with '/assets/countries/'|add:company_rozpiska.fourth_disposition.loading_country|add:'.png' as image_static %}
                                <img src="{% static image_static %}" class="country-icon">
                                {% endwith %}
                                <span class="city-and-company">
                                    <p class="city">{{ company_rozpiska.fourth_disposition.loading_city }}</p>
                                    {% with '/assets/companies/'|add:company_rozpiska.fourth_disposition.loading_spedition|add:'.png' as image_static %}
                                    <img src="{% static image_static %}" class="company">
                                    {% endwith %}
                                </span>
                            </div>
                            <div
                                class="rozpiska-loading-info {% if company_rozpiska.fifth_disposition.finished %} finished {% endif %}">
                                {% with '/assets/countries/'|add:company_rozpiska.fifth_disposition.loading_country|add:'.png' as image_static %}
                                <img src="{% static image_static %}" class="country-icon">
                                {% endwith %}
                                <span class="city-and-company">
                                    <p class="city">{{ company_rozpiska.fifth_disposition.loading_city }}</p>
                                    {% with '/assets/companies/'|add:company_rozpiska.fifth_disposition.loading_spedition|add:'.png' as image_static %}
                                    <img src="{% static image_static %}" class="company">
                                    {% endwith %}
                                </span>
                            </div>
                        </div>
                        <div class="column">
                            <div
                                class="rozpiska-unloading-info {% if company_rozpiska.first_disposition.finished %} finished {% endif %}">
                                {% with '/assets/countries/'|add:company_rozpiska.first_disposition.unloading_country|add:'.png' as image_static %}
                                <img src="{% static image_static %}" class="country-icon">
                                {% endwith %}
                                <span class="city-and-company">
                                    <p class="city">{{ company_rozpiska.first_disposition.unloading_city }}</p>
                                    {% with '/assets/companies/'|add:company_rozpiska.first_disposition.unloading_spedition|add:'.png' as image_static %}
                                    <img src="{% static image_static %}" class="company">
                                    {% endwith %}
                                </span>
                            </div>
                            <div
                                class="rozpiska-unloading-info {% if company_rozpiska.second_disposition.finished %} finished {% endif %}">
                                {% with '/assets/countries/'|add:company_rozpiska.second_disposition.unloading_country|add:'.png' as image_static %}
                                <img src="{% static image_static %}" class="country-icon">
                                {% endwith %}
                                <span class="city-and-company">
                                    <p class="city">{{ company_rozpiska.second_disposition.unloading_city }}</p>
                                    {% with '/assets/companies/'|add:company_rozpiska.second_disposition.unloading_spedition|add:'.png' as image_static %}
                                    <img src="{% static image_static %}" class="company">
                                    {% endwith %}
                                </span>
                            </div>
                            <div
                                class="rozpiska-unloading-info {% if company_rozpiska.third_disposition.finished %} finished {% endif %}">
                                {% with '/assets/countries/'|add:company_rozpiska.third_disposition.unloading_country|add:'.png' as image_static %}
                                <img src="{% static image_static %}" class="country-icon">
                                {% endwith %}
                                <span class="city-and-company">
                                    <p class="city">{{ company_rozpiska.third_disposition.unloading_city }}</p>
                                    {% with '/assets/companies/'|add:company_rozpiska.third_disposition.unloading_spedition|add:'.png' as image_static %}
                                    <img src="{% static image_static %}" class="company">
                                    {% endwith %}
                                </span>
                            </div>
                            <div
                                class="rozpiska-unloading-info {% if company_rozpiska.fourth_disposition.finished %} finished {% endif %}">
                                {% with '/assets/countries/'|add:company_rozpiska.fourth_disposition.unloading_country|add:'.png' as image_static %}
                                <img src="{% static image_static %}" class="country-icon">
                                {% endwith %}
                                <span class="city-and-company">
                                    <p class="city">{{ company_rozpiska.fourth_disposition.unloading_city }}</p>
                                    {% with '/assets/companies/'|add:company_rozpiska.fourth_disposition.unloading_spedition|add:'.png' as image_static %}
                                    <img src="{% static image_static %}" class="company">
                                    {% endwith %}
                                </span>
                            </div>
                            <div
                                class="rozpiska-unloading-info {% if company_rozpiska.fifth_disposition.finished %} finished {% endif %}">
                                {% with '/assets/countries/'|add:company_rozpiska.fifth_disposition.unloading_country|add:'.png' as image_static %}
                                <img src="{% static image_static %}" class="country-icon">
                                {% endwith %}
                                <span class="city-and-company">
                                    <p class="city">{{ company_rozpiska.fifth_disposition.unloading_city }}</p>
                                    {% with '/assets/companies/'|add:company_rozpiska.fifth_disposition.unloading_spedition|add:'.png' as image_static %}
                                    <img src="{% static image_static %}" class="company">
                                    {% endwith %}
                                </span>
                            </div>
                        </div>
                        <div class="column">
                            <div class="rozpiska-cargo {% if company_rozpiska.first_disposition.finished %} finished {% endif %}">
                                <span class="cargo">
                                    <b>{{ company_rozpiska.first_disposition.cargo }}</b>
                                    <br>
                                    {{ company_rozpiska.first_disposition.tonnage }} kg
                                </span>
                            </div>
                            <div class="rozpiska-cargo {% if company_rozpiska.second_disposition.finished %} finished {% endif %}">
                                <span class="cargo">
                                    <b>{{ company_rozpiska.second_disposition.cargo }}</b>
                                    <br>
                                    {{ company_rozpiska.second_disposition.tonnage }} kg
                                </span>
                            </div>
                            <div class="rozpiska-cargo {% if company_rozpiska.third_disposition.finished %} finished {% endif %}">
                                <span class="cargo">
                                    <b>{{ company_rozpiska.third_disposition.cargo }}</b>
                                    <br>
                                    {{ company_rozpiska.third_disposition.tonnage }} kg
                                </span>
                            </div>
                            <div class="rozpiska-cargo {% if company_rozpiska.fourth_disposition.finished %} finished {% endif %}">
                                <span class="cargo">
                                    <b>{{ company_rozpiska.fourth_disposition.cargo }}</b>
                                    <br>
                                    {{ company_rozpiska.fourth_disposition.tonnage }} kg
                                </span>
                            </div>
                            <div class="rozpiska-cargo {% if company_rozpiska.fifth_disposition.finished %} finished {% endif %}">
                                <span class="cargo">
                                    <b>{{ company_rozpiska.fifth_disposition.cargo }}</b>
                                    <br>
                                    {{ company_rozpiska.fifth_disposition.tonnage }} kg
                                </span>
                            </div>
                        </div>
                        <div class="column">
                            <div class="rozpiska-deadline {% if company_rozpiska.first_disposition.finished %} finished {% endif %}">
                                <span class="date">
                                    <b>Data wykonania:</b>
                                    <br>
                                    {{ company_rozpiska.first_disposition.deadline }}
                                </span>
                            </div>
                            <div class="rozpiska-deadline {% if company_rozpiska.second_disposition.finished %} finished {% endif %}">
                                <span class="date">
                                    <b>Data wykonania:</b>
                                    <br>
                                    {{ company_rozpiska.second_disposition.deadline }}
                                </span>
                            </div>
                            <div class="rozpiska-deadline {% if company_rozpiska.third_disposition.finished %} finished {% endif %}">
                                <span class="date">
                                    <b>Data wykonania:</b>
                                    <br>
                                    {{ company_rozpiska.third_disposition.deadline }}
                                </span>
                            </div>
                            <div class="rozpiska-deadline {% if company_rozpiska.fourth_disposition.finished %} finished {% endif %}">
                                <span class="date">
                                    <b>Data wykonania:</b>
                                    <br>
                                    {{ company_rozpiska.fourth_disposition.deadline }}
                                </span>
                            </div>
                            <div class="rozpiska-deadline {% if company_rozpiska.fifth_disposition.finished %} finished {% endif %}">
                                <span class="date">
                                    <b>Data wykonania:</b>
                                    <br>
                                    {{ company_rozpiska.fifth_disposition.deadline }}
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
                {% endfor %}
                {% elif dispositions %}
                {% for disposition in dispositions %}
                {% for company_disposition in disposition %}
                <div class="box card">
                    <div class="columns">
                        <div class="column">
                            <div class="driver-basic-info">
                                <img src="{{ company_disposition.driver.avatar.url }}" class="driver-avatar">
                                <span class="user">
                                    <p class="driver-username">{{ company_disposition.driver.nick }}</p>
                                </span>
                            </div>
                        </div>
                        <div class="column">
                            <div class="loading-info">
                                {% with '/assets/countries/'|add:company_disposition.loading_country|add:'.png' as image_static %}
                                <img src="{% static image_static %}" class="country-icon">
                                {% endwith %}
                                <span class="city-and-company">
                                    <p class="city">{{ company_disposition.loading_city }}</p>
                                    {% with '/assets/companies/'|add:company_disposition.loading_spedition|add:'.png' as image_static %}
                                    <img src="{% static image_static %}" class="company">
                                    {% endwith %}
                                </span>
                            </div>
                        </div>
                        <div class="column">
                            <div class="unloading-info">
                                {% with '/assets/countries/'|add:company_disposition.unloading_country|add:'.png' as image_static %}
                                <img src="{% static image_static %}" class="country-icon">
                                {% endwith %}
                                <span class="city-and-company">
                                    <p class="city">{{ company_disposition.unloading_city }}</p>
                                    {% with '/assets/companies/'|add:company_disposition.unloading_spedition|add:'.png' as image_static %}
                                    <img src="{% static image_static %}" class="company">
                                    {% endwith %}
                                </span>
                            </div>
                        </div>
                        <div class="column">
                            <div class="cargo">
                                <span class="cargo">
                                    <b>{{ company_disposition.cargo }}</b>
                                    <br>
                                    {{ company_disposition.tonnage }} kg
                                </span>
                            </div>
                        </div>
                        <div class="column">
                            <div class="deadline">
                                <span class="date">
                                    <b>Data wykonania:</b>
                                    <br>
                                    {{ company_disposition.deadline }}
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
                {% endfor %}
                {% else %}
                <div class="box card no-disposition">
                    <img src="{% static 'assets/icons/no_disposition.png' %}" class="no-disposition-icon">
                    <span class="no-disposition-text">
                        <h1 class="no-disposition-title">Nie ma żadnych dyspozycji.</h1>
                        <p class="sub-text">
                            Wystaw nową dyspozycję lub przyjmij zlecenie z giełdy zleceń.
                        </p>
                    </span>
                </div>
                {% endif %}
            </main>
        </div>
    </div>
</body>

</html>