
{% load static %}
<!DOCTYPE html>
<html lang="pl-pl">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description"
        content="Hercules to najlepszy polski system rozliczeń dla wirtualnych spedycji w ETS2. Dołącz do nas już teraz i zostań herosem transportu!">

    <link rel="apple-touch-icon" sizes="57x57" href="{% static 'hercules_app/assets/apple-icon-57x57.png}">
    <link rel="apple-touch-icon" sizes="60x60" href="{% static 'hercules_app/assets//apple-icon-60x60.png' %}">
    <link rel="apple-touch-icon" sizes="72x72" href="{% static 'hercules_app/assets//apple-icon-72x72.png' %}">
    <link rel="apple-touch-icon" sizes="76x76" href="{% static 'hercules_app/assets//apple-icon-76x76.png' %}">
    <link rel="apple-touch-icon" sizes="114x114" href="{% static 'hercules_app/assets//apple-icon-114x114.png' %}">
    <link rel="apple-touch-icon" sizes="120x120" href="{% static 'hercules_app/assets//apple-icon-120x120.png' %}">
    <link rel="apple-touch-icon" sizes="144x144" href="{% static 'hercules_app/assets//apple-icon-144x144.png' %}">
    <link rel="apple-touch-icon" sizes="152x152" href="{% static 'hercules_app/assets//apple-icon-152x152.png' %}">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'hercules_app/assets//apple-icon-180x180.png' %}">
    <link rel="icon" type="image/png" sizes="192x192"
        href="{% static 'hercules_app/assets//android-icon-192x192.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'hercules_app/assets//favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="96x96" href="{% static 'hercules_app/assets//favicon-96x96.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'hercules_app/assets//favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'hercules_app/assets//manifest.json' %} ">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png' %}">
    <meta name="theme-color" content="#ffffff">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/panel.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/dispose.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/drivers.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
            integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.4/toastr.min.js"></script>
    <script defer src="{% static 'js/drivers.js' %}"></script>
    <script defer src="{% static 'js/toast.js' %}"></script>
    <title> Kierowcy firmy {{ company }} | Hercules</title>
</head>

<body>
{% include "hercules_app/main_panel.html" %}
    <div class="wrapper">
        <div class="columns">
            <aside class="column is-2 aside is-hidden-mobile is-placed-left">
                <nav class="menu">
                    <p class="menu-label">
                        Menu główne
                    </p>
                    <ul class="menu-list">
                        <li>
                            <a class="panel-option">
                                <p class="option main-site">Panel systemu</p>
                            </a>
                        </li>
                        <li>
                            <a class="panel-option">
                                <p class="option download">Pobierz aplikację</p>
                            </a>
                        </li>
                    </ul>
                    <p class="menu-label">
                        Kierowca
                    </p>
                    <ul class="menu-list">
                        <li>
                            <a href='/drivers-card'>
                                <p class="option driver-card">Karta kierowcy</p>
                            </a>
                        </li>
                        <li>
                            <a href="/add-delivery">
                                <p class="option add-delivery">Dodaj dostawę</p>
                            </a>
                        </li>
                        <li>
                            <a href="/Gielda/Offers">
                                <p class="option gielda">Giełda zleceń</p>
                            </a>
                        </li>
                        <li>
                            <a href="/Dispositions">
                                <p class="option dispositions">Dyspozycje</p>
                            </a>
                        </li>
                        <li>
                            <a href="/Deliveries">
                                <p class="option deliveries">Twoje dostawy</p>
                            </a>
                        </li>
                    </ul>
                    <p class="menu-label">
                        Spedycja
                    </p>
                        <ul class="menu-list">
                        {% if position == "" %}
                        <li>
                            <a href="/Companies">
                                <p class="option search-company">
                                    Znajdź firmę
                                </p>
                            </a>
                        </li>
                        {% elif position is not None %}
                        <li>
                            <a href="/CompanyProfile">
                                <p class="option company-profile">
                                    Profil firmy
                                </p>
                            </a>
                        </li>
                        <li>
                            <a class="is-active" href="/Drivers">
                                <p class="option drivers">
                                    Kierowcy
                                </p>
                            </a>
                        </li>
                        {% endif %}
                        <li>
                            <a href="/Vehicles">
                                <p class="option vehicles">{% if position == "" %} Twoje pojazdy {% else %} Pojazdy
                                    firmowe {% endif %}</p>
                            </a>
                        </li>
                        {% if position == "Szef" or position == "Spedytor" %}
                        <li>
                            <a href="/Company/Waybills">
                                <p class="option Company/Waybills">Listy przewozowe</p>
                            </a>
                        </li>
                        <li>
                            <a href="/Company/Dispositions">
                                <p class="option dispositions">Dyspozycje firmowe</p>
                            </a>
                        </li>
                        {% endif %}
{% if position == "Szef" %}
                        <li>
                            <a href="/Settings">
                                <p class="option settings">Ustawienia firmy</p>
                            </a>
                        </li>
                        {% endif %}
                        {% if position == "Szef" %}
                        <li>
                            <a href="/Company/JobApplications">
                                <p class="option settings">Podania o pracę</p>
                            </a>
                        </li>
                        {% endif %}
                    </ul>
                </nav>
            </aside>
            <main class="column main">
                <header>
                    <h1 class="title">Kierowcy firmy {{ company }}</h1>
                </header>
                <div class="box card filters">
                    <form action="/Drivers" method="get">
                        <div class="columns">
                            <div class="column">
                                <div class="field">
                                    <p class="control">
                                        <label for="" class="label">Nick kierowcy</label>
                                        <input class="input" type="text" placeholder="" name="driver_nick">
                                    </p>
                                </div>
                            </div>
                        </div>
                        <button type="submit" class="button search-offers">Szukaj kierowcy</button>
                    </form>
                </div>
                <form class="sort-form" action="">
                    <div class="sort">
                        <div class="select sort-select">
                            <select class="sort_by" name="sort_by">
                                <option value="-position" {% if sort_by == '-position' %} selected {% endif %}>Według rangi
                                </option>
                                <option value="not-realised" {% if sort_by == 'not-realised' %} selected {% endif %}>
                                    Niezaliczona norma</option>
                                <option value="realised" {% if sort_by == 'realised' %} selected {% endif %}>Zaliczona
                                    norma</option>
                                <option value="service-length" {% if sort_by == 'service-length' %} selected {% endif %}>
                                    Najkrótszy staż pracy</option>
                                <option value="-service-length" {% if sort_by == '-service-length' %} selected {% endif %}>
                                    Najdłuższy staż pracy</option>
                                <option value="last-delivery" {% if sort_by == 'last-delivery' %} selected {% endif %}>
                                    Najwcześniejsza ostatnia trasa</option>
                                <option value="-last-delivery" {% if sort_by == '-last-delivery' %} selected {% endif %}>
                                    Najpóźniejsza ostatnia trasa</option>
                            </select>
                        </div>
                    </div>
                </form>
                {% if company_driver %}
                <div class="box card driver">
                    <div class="columns">
                        <div class="column is-3">
                            <div class="driver-basic-info">
                                <img src="{{ company_driver.avatar }}" class="driver-avatar">
                                <span class="user">
                                    <p class="driver-username">{{ company_driver.nick }}</p>
                                    <p class="position">{{ company_position }}</p>
                                </span>
                            </div>
                        </div>
                        <div class="column">
                            <div class="stat-distance">
                                <span class="driven-distance">
                                    <label class="hint">Przejechany dystans</label>
                                    <p class="distance">{{ company_driver.distance }} km</p>
                                </span>
                            </div>
                        </div>
                        <div class="column">
                            <div class="stat-last-delivery">
                                <span class="last-delivery">
                                    <label class="hint">Ostatnia trasa</label>
                                    <p><b class="time">{{ company_driver.last_delivery|date:"d b Y, H:m" }}</b></p>
                                </span>
                            </div>
                        </div>
                        <div class="column">
                            <div class="stat-joining-date">
                                <span class="joining-date">
                                    <label class="hint">Staż pracy</label>
                                    <p><b class="time">{{ company_driver.length_of_service }} dni</b></p>
                                </span>
                            </div>
                        </div>
                        <div class="column is-2">
                            <div class="tags">
                                {% if company_driver.realised %}
                                <span class="tag periodic-norm-tag is-medium is-success">Norma zaliczona</span>
                                {% else %}
                                <span class="tag periodic-norm-tag is-medium is-danger">Norma niezaliczona</span>
                                {% endif %}
                            </div>
                        </div>
                        <div class="column">
                            <div class="check-profile">
                                <a href="/Company/Drivers{{ company_driver.id }}" class="button dispose is-rounded">Sprawdź profil</a>
                            </div>
                        </div>
                    </div>
                </div>
                {% else %}
                {% for company_driver in company_drivers %}
                <div class="box card driver">
                    <div class="columns">
                        <div class="column is-3">
                            <div class="driver-basic-info">
                                <img src="{{ company_driver.avatar }}" class="driver-avatar">
                                <span class="user">
                                    <p class="driver-username">{{ company_driver.nick }}</p>
                                    <p class="position">{{ company_position }}</p>
                                </span>
                            </div>
                        </div>
                        <div class="column">
                            <div class="stat-distance">
                                <span class="driven-distance">
                                    <label class="hint">Przejechany dystans</label>
                                    <p class="distance">{{ company_driver.distance }} km</p>
                                </span>
                            </div>
                        </div>
                        <div class="column">
                            <div class="stat-last-delivery">
                                <span class="last-delivery">
                                    <label class="hint">Ostatnia trasa</label>
                                    <p><b class="time">{{ company_driver.last_delivery }}</b></p>
                                </span>
                            </div>
                        </div>
                        <div class="column">
                            <div class="stat-joining-date">
                                <span class="joining-date">
                                    <label class="hint">Staż pracy</label>
                                    <p><b class="time">{{ company_driver.length_of_service }} dni</b></p>
                                </span>
                            </div>
                        </div>
                        <div class="column is-2">
                            <div class="tags">
                                {% if company_driver.realised %}
                                <span class="tag periodic-norm-tag is-medium is-success">Norma zaliczona</span>
                                {% else %}
                                <span class="tag periodic-norm-tag is-medium is-danger">Norma niezaliczona</span>
                                {% endif %}
                            </div>
                        </div>
                        <div class="column">
                            <div class="check-profile">
                                <a href="/Company/Drivers{{ company_driver.id }}" class="button dispose is-rounded">Sprawdź profil</a>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
                {% endif %}
                {% if not_found or company_drivers|length == 0 %}
                <div class="box card driver">
                    <div class="no-offers">
                        <img src="{% static 'assets/icons/no_offers.png' %}" class="no-offers-icon">
                        <span class="no-offers-text">
                            <h1 class="no-offers-title">Nic nie znaleźliśmy.</h1>
                            <p class="sub-text">
                                Nie znaleźliśmy takiego kierowcy w Twojej firmie. Sprawdź poprawność zapisu.
                            </p>
                        </span>
                    </div>
                </div>
                {% endif %}
            </main>
        </div>
    </div>
</body>

</html>