
{% load static %}
<!DOCTYPE html>
<html lang="pl-pl">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description"
        content="Hercules to najlepszy polski system rozliczeń dla wirtualnych spedycji w ETS2. Dołącz do nas już teraz i zostań herosem transportu!">

    <link rel="apple-touch-icon" sizes="57x57" href="{% static '/assets/icons/apple-icon-57x57.png' %}">
    <link rel="apple-touch-icon" sizes="60x60" href="{% static '/assets/icons/apple-icon-60x60.png' %}">
    <link rel="apple-touch-icon" sizes="72x72" href="{% static '/assets/icons/apple-icon-72x72.png' %}">
    <link rel="apple-touch-icon" sizes="76x76" href="{% static '/assets/icons/apple-icon-76x76.png' %}">
    <link rel="apple-touch-icon" sizes="114x114" href="{% static '/assets/icons/apple-icon-114x114.png' %}">
    <link rel="apple-touch-icon" sizes="120x120" href="{% static '/assets/icons/apple-icon-120x120.png' %}">
    <link rel="apple-touch-icon" sizes="144x144" href="{% static '/assets/icons/apple-icon-144x144.png' %}">
    <link rel="apple-touch-icon" sizes="152x152" href="{% static '/assets/icons/apple-icon-152x152.png' %}">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static '/assets/icons/apple-icon-180x180.png' %}">
    <link rel="icon" type="image/png" sizes="192x192"
        href="{% static '/assets/icons/android-icon-192x192.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static '/assets/icons/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="96x96" href="{% static '/assets/icons/favicon-96x96.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static '/assets/icons/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static '/assets/icons/manifest.json' %} ">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="{% static '/assets/icons/ms-icon-144x144.png' %}">
    <meta name="theme-color" content="#ffffff">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/panel.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/drivers-card.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    {% if is_chef %}
    <script defer src="{% static 'js/drivers_card.js' %}"></script>
    {% endif %}
    <title> Karta kierowcy | Hercules</title>
</head>

<body>
{% include "hercules_app/main_panel.html" %}
    <div class="wrapper">
        <div class="columns">
            <aside class="column is-2 aside is-hidden-mobile is-placed-left">
                <nav class="menu">
                    <p class="menu-label">
                        Menu główne
                    </p>
                    <ul class="menu-list">
                        <li>
                            <a class="panel-option" href="/panel">
                                <p class="option main-site">Panel systemu</p>
                            </a>
                        </li>
                        <li>
                            <a class="panel-option" href="/download">
                                <p class="option download">Pobierz aplikację</p>
                            </a>
                        </li>
                    </ul>
                    <p class="menu-label">
                        Kierowca
                    </p>
                    <ul class="menu-list">
                        <li>
                            <a {% if not is_chef %} class="is-active" {% endif %}>
                                <p class="option driver-card">Karta kierowcy</p>
                            </a>
                        </li>
                        <li>
                            <a href="/add-delivery">
                                <p class="option add-delivery">Dodaj dostawę</p>
                            </a>
                        </li>
                        <li>
                            <a href="/Gielda/Offers/">
                                <p class="option gielda">Giełda zleceń</p>
                            </a>
                        </li>
                        <li>
                            <a href="/Dispositions">
                                <p class="option dispositions">Dyspozycje</p>
                            </a>
                        </li>
                        <li>
                            <a href="/Deliveries">
                                <p class="option deliveries">Twoje dostawy</p>
                            </a>
                        </li>
                    </ul>
                    <p class="menu-label">
                        Spedycja
                    </p>
                    <ul class="menu-list">
                        {% if position is None %}
                        <li>
                            <a href="/Companies">
                                <p class="option search-company">
                                    Znajdź firmę
                                </p>
                            </a>
                        </li>
                        {% elif position is not None %}
                        <li>
                            <a href="/Company/CompanyProfile">
                                <p class="option company-profile">
                                    Profil firmy
                                </p>
                            </a>
                        </li>
                        <li>
                            <a {% if is_chef %} class="is-active" {% endif %} href="/Company/Drivers">
                                <p class="option drivers">
                                    Kierowcy
                                </p>
                            </a>
                        </li>
                        {% endif %}
                        <li>
                            <a href="/Vehicles">
                                <p class="option vehicles">{% if position is None %} Twoje pojazdy {% else %}
                                    Pojazdy
                                    firmowe {% endif %}</p>
                            </a>
                        </li>
                        {% if position == "Szef" or position == "Spedytor" %}
                        <li>
                            <a href="/Company/Waybills">
                                <p class="option waybills">Listy przewozowe</p>
                            </a>
                        </li>
                        <li>
                            <a href="/Company/Dispositions">
                                <p class="option dispositions">Dyspozycje firmowe</p>
                            </a>
                        </li>
                        {% endif %}
                    {% if position == "Szef" %}
                        <li>
                            <a href="/Company/Settings">
                                <p class="option settings">Ustawienia firmy</p>
                            </a>
                        </li>
                        <li>
                            <a href="/Company/JobApplications">
                                <p class="option settings">Podania o pracę</p>
                            </a>
                        </li>
                    {% endif %}
                    {% if position is None %}
                    <li>
                        <a href="/JobApplications">
                            <p class="option settings">Podania o pracę</p>
                        </a>
                    </li>
                    {% endif %}
                    </ul>
                </nav>
            </aside>
            <main class="column main">
                <div class="user-info">
                    <div class="level">
                        <div class="level-left">
                            <div class="level-item user-info-basic">
                                {% if is_company_driver %}
                                <figure class="image is-96x96 ">
                                    <img class="avatar user-info-avatar" src="{{ avatar }}">
                                </figure>
                                <span class="user-info-details">
                                    <h1 class="title user-info-username">{{ company_driver_nick }}</h1>
                                    {% if is_chef %}
                                    <div class="range-container">
                                        <form action="/Company/ChangePosition/{{ company_driver_id }}" method="post" class="change-position-form">
                                            {% csrf_token %}
                                            <div class="select driver-position-select">
                                                <select class="change-position" name="change-position">
                                                    <option value="Kierowca"
                                                        {% if company_driver_position == "Kierowca" %}
                                                        selected {% endif %}>Kierowca</option>
                                                    <option value="Spedytor"
                                                        {% if company_driver_position == "Spedytor" %} selected
                                                        {% endif %}>Spedytor</option>
                                                    <option value="Szef" {% if company_driver_position == "Szef" %}
                                                        selected {% endif %}>Szef</option>
                                                </select>
                                            </div>
                                        </form>
                                        {% if company %}
                                        <h2 class="range"> firmy
                                            {{ company_driver_company }}</h2>
                                        {% endif %}
                                    </div>
                                    {% else %}
                                        {% if company %}
                                        <h2 class="range"><strong>{{ company_driver_position }}</strong> firmy {{ company_driver_company }}</h2>
                                        {% endif %}
                                    {% endif %}
                                </span>
                                {% else %}
                                <figure class="image is-96x96 ">
                                    <img class="avatar user-info-avatar" src="{{ avatar }}">
                                </figure>
                                <span class="user-info-details">
                                    <h1 class="title user-info-username">{{ nick }}</h1>
                                    {% if company %}
                                    <h2 class="range"><strong>{{ position }}</strong> firmy
                                        {{ company }}</h2>
                                    {% endif %}
                                </span>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="statistics-container">
                    <div class="tile is-ancestor">
                        <div class="tile is-parent">
                            <div class="tile is-child">
                                <div class="box card distance-card">
                                    <article class="media">
                                        <div class="media-left">
                                            <figure class="image is-64x64">
                                                <img src="{% static '/assets/icons/distance-card.png' %}"
                                                    alt="Image">
                                            </figure>
                                        </div>
                                        <div class="media-content">
                                            <div class="content">
                                                <h6 class="card-title">Pokonany dystans</h6>
                                                <h1 class="card-value distance">{{ statistics.distance }} <span
                                                        class="colored">km</span>
                                                </h1>
                                            </div>
                                        </div>
                                    </article>
                                </div>
                            </div>
                        </div>
                        <div class="tile is-parent">
                            <div class="tile is-child">
                                <div class="box card fuel-card">
                                    <article class="media">
                                        <div class="media-left">
                                            <figure class="image is-64x64">
                                                <img src="{% static '/assets/icons/gas-card.png' %}"
                                                    alt="Image">
                                            </figure>
                                        </div>
                                        <div class="media-content">
                                            <div class="content">
                                                <h6 class="card-title">Średnia paliwa</h6>
                                                <h1 class="card-value used-fuel">{{ statistics.average_fuel }} <span
                                                        class="colored">l/100
                                                        km</span>
                                                </h1>
                                            </div>
                                        </div>
                                    </article>
                                </div>

                            </div>
                        </div>
                        <div class="tile is-parent">
                            <div class="tile is-child">
                                <div class="box card deliveries-card">
                                    <article class="media">
                                        <div class="media-left">
                                            <figure class="image is-64x64">
                                                <img src="{% static '/assets/icons/finish.png' %}"
                                                    alt="Image">
                                            </figure>
                                        </div>
                                        <div class="media-content">
                                            <div class="content">
                                                <h6 class="card-title">Liczba tras</h6>
                                                <h1 class="card-value used-fuel">{{ statistics.deliveries_count }} <span
                                                        class="colored">tras</span>
                                                </h1>
                                            </div>
                                        </div>
                                    </article>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tile is-ancestor">
                        <div class="tile is-vertical is-8">
                            <div class="tile">
                                <div class="tile is-parent">
                                    <div class="tile is-child">
                                        <div class="box card tonnage-card">
                                            <article class="media">
                                                <div class="media-left">
                                                    <figure class="image is-64x64">
                                                        <img src="{% static '/assets/icons/business.png' %}"
                                                            alt="Image">
                                                    </figure>
                                                </div>
                                                <div class="media-content">
                                                    <div class="content">
                                                        <h6 class="card-title">Przewieziony tonaż</h6>
                                                        <h1 class="card-value distance">{{ statistics.tonnage }} <span
                                                                class="colored">kg</span>
                                                        </h1>
                                                    </div>
                                                </div>
                                            </article>
                                        </div>
                                    </div>
                                </div>
                                <div class="tile is-parent">
                                    <div class="tile is-child">
                                        <div class="box card money-card">
                                            <article class="media">
                                                <div class="media-left">
                                                    <figure class="image is-64x64">
                                                        <img src="{% static '/assets/icons/money.png' %}"
                                                            alt="Image">
                                                    </figure>
                                                </div>
                                                <div class="media-content">
                                                    <div class="content">
                                                        <h6 class="card-title">Osiągnięty dochód</h6>
                                                        <h1 class="card-value used-fuel">
                                                            {{ statistics.income }}<span class="colored"> zł</span>
                                                        </h1>
                                                    </div>
                                                </div>
                                            </article>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tile is-parent">
                                <div class="tile is-child">
                                    <div class="box card">
                                        <header class="card-header">
                                            <a href="" class="card-header-icon">
                                                <span class="icon">
                                                    <i class="" aria-hidden="true">
                                                        <figure class="image is-48x48">
                                                            <img src="{% static '/assets/icons/steering-wheel.png' %}"
                                                                alt="Image">
                                                        </figure>
                                                    </i>
                                                </span>
                                            </a>
                                            <p class="card-header-title">
                                                Twój pojazd
                                            </p>
                                        </header>
                                        {% if vehicle %}
                                        <div class="columns">
                                            <div class="column">
                                                <figure class="vehicle-image">
                                                    {% if vehicle.photo %}
                                                    <img src="{{ vehicle.photo.url }}" class="_vehicle-image">
                                                    {% endif %}
                                                </figure>
                                            </div>
                                            <div class="column">
                                                <span class="vehicle-info">
                                                    {% with '/assets/manufacturers/'|add:vehicle.brand|lower|add:'.png' as image_static %}
                                                    <img src="{% static image_static %}" class="manufacturer"
                                                        alt="Image">
                                                    {% endwith %}
                                                    <h2 class="vehicle-model">{{ vehicle.brand }}
                                                        {{ vehicle.model }} {{ vehicle.cabin }}</h2>
                                                </span>
                                                <div class="vehicle-parameters">
                                                    <b>Przebieg: {{ vehicle.odometer }} km</b>
                                                    <p>Silnik: {{ vehicle.engine }}</p>
                                                    <p>Moc silnika: {{ vehicle.engine_power }} KM</p>
                                                    <p>Skrzynia biegów: {{ vehicle.gearbox }}</p>
                                                    <p>Kabina: {{ vehicle.cabin }}</p>
                                                </div>
                                                
                                            </div>
                                        </div>
                                        {% else %}
                                        <div class="no-vehicle">
                                            <img src="{% static 'assets/icons/no_vehicle.png' %}"
                                                class="no-vehicle-icon">
                                            <span class="no-vehicle-text">
                                                <h1 class="no-vehicle-title">Nie masz żadnego pojazdu.</h1>
                                                <p class="sub-text">
                                                    Nie został Ci przydzielony żaden pojazd.
                                                    {% if position == "Szef" or position == "Dyspozytor" %}
                                                    Dodaj pojazd w zakładce Pojazdy.
                                                    {% else %}
                                                    Zgłoś tę informację Szefowi lub dyspozytorowi firmy.
                                                    {% endif %}
                                                </p>
                                            </span>
                                        </div>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tile is-parent">
                            <div class="tile is-child">
                                <div class="box card achievements">
                                    {% if achievements.first_timer %}
                                        <nav class="level">
                                            <i class="hello-icon">👋</i>
                                            <span class="achievement">
                                                <h1 class="achievement-title">Pierwsze <span
                                                        class="colored">kroki</span>
                                                </h1>
                                                <p class="achievement-text">
                                                    Pierwsze osiągnięcie kierowcy. Zaczął on przygodę z systemem Hercules.
                                                </p>
                                            </span>
                                        </nav>
                                        {% endif %}
                                        {% if achievements.eco_driver %}
                                        <nav class="level">
                                            <img src="{% static '/assets/icons/leaf.png' %}" alt="">
                                            <span class="achievement">
                                                <h1 class="achievement-title">Ekologiczny <span
                                                        class="colored">kierowca</span>
                                                </h1>
                                                <p class="achievement-text">
                                                    Kierowca jeździ ekologicznie i ekonomicznie - jego średnie spalanie
                                                    daje
                                                    wymierne korzyści.
                                                </p>
                                            </span>
                                        </nav>
                                        {% endif %}
                                        {% if achievements.long_distance_drivr %}
                                        <nav class="level">
                                            <img src="{% static '/assets/icons/speedometer.png' %}" alt="">
                                            <span class="achievement">
                                                <h1 class="achievement-title">Długodystansowiec
                                                </h1>
                                                <p class="achievement-text">
                                                    Kierowca przejechał ponad 1 milion kilometrów w barwach firmy.
                                                </p>
                                            </span>
                                        </nav>
                                        {% endif %}
                                        {% if achievements.heavy_driver %}
                                        <nav class="level">
                                            <img src="{% static '/assets/icons/business.png' %}" alt="">
                                            <span class="achievement">
                                                <h1 class="achievement-title">Ciężki<span class="colored">
                                                        kaliber</span>
                                                </h1>
                                                <p class="achievement-text">
                                                    Kierowca przewiózł ponad 1 milion ton w barwach firmy.
                                                </p>
                                            </span>
                                        </nav>
                                        {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="box card">
                    <header class="card-header">
                        <a href="" class="card-header-icon">
                            <span class="icon">
                                <i class="" aria-hidden="true">
                                    <figure class="image is-48x48">
                                        <img src="{% static '/assets/icons/dispositions-card.png' %}"
                                            alt="Image">
                                    </figure>
                                </i>
                            </span>
                        </a>
                        <p class="card-header-title">
                            Ostatnie zlecenia
                        </p>
                    </header>
                    {% if waybills %}
                    {% for waybill in waybills %}
                    <div class="columns waybill">
                        <div class="column">
                            <div class="level-item loading-city">
                                {% with '/assets/countries/'|add:waybill.loading_country|add:'.png' as image_static %}
                                <img src="{% static image_static %}" class="country-icon">
                                {% endwith %}
                                <span class="city-and-company">
                                    <p class="city">{{ waybill.loading_city }}</p>
                                    {% with '/assets/companies/'|add:waybill.loading_spedition|add:'.png' as image_static %}
                                    <img src="{% static image_static %}" class="spedition">
                                    {% endwith %}
                                </span>
                            </div>
                        </div>
                        <div class="column">
                            <div class="level-item unloading-city">
                                {% with '/assets/countries/'|add:waybill.unloading_country|add:'.png' as image_static %}
                                <img src="{% static image_static %}" class="country-icon">
                                {% endwith %}
                                <span class="city-and-company">
                                    <p class="city">{{ waybill.unloading_city }}</p>
                                    {% with '/assets/companies/'|add:waybill.unloading_spedition|add:'.png' as image_static %}
                                    <img src="{% static image_static %}" class="spedition">
                                    {% endwith %}
                                </span>
                            </div>
                        </div>
                        <div class="column">
                            <div class="level-item cargo">
                                <span class="cargo">
                                    <b>{{ waybill.cargo }}</b>
                                    <br>
                                    {{ waybill.tonnage }} kg
                                    </sp>
                            </div>
                        </div>
                        <div class="column">
                            <div class="level-item ">
                                <a href="Deliveries/{{ waybill.id }}" class="button check-details is-rounded">Sprawdź szczegóły</a>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                    {% else %}
                    <div class="no-disposition">
                        <img src="{% static 'assets/icons/no_disposition.png' %}" class="no-disposition-icon">
                        <span class="no-disposition-text">
                            <h1 class="no-disposition-title">Nie masz żadnych ostatnich zleceń.</h1>
                            <p class="sub-text">
                                Wykonaj zlecenia w grze, a następnie dodaj je przez formularz Nowa dostawa lub włącz aplikację Assistant, która zadba o automatyczne wysłanie po zakończeniu trasy.
                            </p>
                        </span>
                    </div>
                    {% endif %}
                </div>
            </main>
            {% if is_company_driver %}
            <div class="modal" id="page-modal">
                <div class="modal-background"></div>
                <div class="modal-content">
                    <div class="box">
                        <form action="/Company/ChangePosition/{{ company_driver_id }}" method="post">
                            {% csrf_token %}
                            <h1 class="title">Przyznać użytkownikowi uprawnienia szefa?
                            </h1>
                            <p class="subtitle is-4">
                                Pamiętaj, aby zweryfikować, czy użytkownik powinien otrzymać uprawnienia szefa. Możesz je wycofać w każdej chwili.
                            </p>
                            <div class="modal-buttons">
                                <a class="button cancel" data-dismiss="modal">Nie</a>
                                <button type="submit" class="button is-danger" id="deleteButton" href="#">Tak, przyznaj
                                    uprawnienia</button>
                            </div>
                        </form>
                    </div>
                </div>
                <button class="modal-close is-large" aria-label="close"></button>
            </div>
            {% endif %}
        </div>
    </div>
</body>

</html>