{% load static %}
<!DOCTYPE html>
<html lang="pl-pl">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description"
        content="Hercules to najlepszy polski system rozliczeń dla wirtualnych spedycji w ETS2. Dołącz do nas już teraz i zostań herosem transportu!">

    <link rel="apple-touch-icon" sizes="57x57" href="{% static 'hercules_app/assets/icons/apple-icon-57x57.png}">
    <link rel="apple-touch-icon" sizes="60x60" href="{% static 'hercules_app/assets/icons/apple-icon-60x60.png' %}">
    <link rel="apple-touch-icon" sizes="72x72" href="{% static 'hercules_app/assets/icons/apple-icon-72x72.png' %}">
    <link rel="apple-touch-icon" sizes="76x76" href="{% static 'hercules_app/assets/icons/apple-icon-76x76.png' %}">
    <link rel="apple-touch-icon" sizes="114x114" href="{% static 'hercules_app/assets/icons/apple-icon-114x114.png' %}">
    <link rel="apple-touch-icon" sizes="120x120" href="{% static 'hercules_app/assets/icons/apple-icon-120x120.png' %}">
    <link rel="apple-touch-icon" sizes="144x144" href="{% static 'hercules_app/assets/icons/apple-icon-144x144.png' %}">
    <link rel="apple-touch-icon" sizes="152x152" href="{% static 'hercules_app/assets/icons/apple-icon-152x152.png' %}">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'hercules_app/assets/icons/apple-icon-180x180.png' %}">
    <link rel="icon" type="image/png" sizes="192x192"
        href="{% static 'hercules_app/assets/icons/android-icon-192x192.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'hercules_app/assets/icons/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="96x96" href="{% static 'hercules_app/assets/icons/favicon-96x96.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'hercules_app/assets/icons/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'hercules_app/assets/icons/manifest.json' %} ">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="{% static 'hercules_app/icons/ms-icon-144x144.png' %}">
    <meta name="theme-color" content="#ffffff">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'hercules_app/panel.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'hercules_app/main.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'hercules_app/gielda.css' %}">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <title>Giełda zleceń | Hercules</title>
</head>

<body>
    <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-start">
            <div class="navbar-brand">
                <a class="navbar-item">
                    <img src="{% static 'hercules_app/assets/logo.png' %}" width="194" height="55">
                </a>
                <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false">
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                </a>
            </div>
        </div>
        <div class="navbar-end is-hidden-mobile">
            <a class="navbar-item">
                <figure class="image is-48x48 avatar-fig">
                    <img class="avatar" src="{% static 'hercules_app/assets/avatar_krawczyk.jpg' %}">
                </figure>
                <span class="user">
                    <p class="username">{{ driver.nick }}</p>
                    {% if driver.company_id %}
                    <p class="company">{{ company.name }}</p>
                    {% endif %}
                </span>
            </a>
            <a class="navbar-item">
                <span class="icon is-medium logout">
                    <i class="fas fa-sign-out-alt"></i>
                </span>
                <p class="logout-text">Wyloguj się</p>
            </a>
        </div>
    </nav>
    <div class="wrapper">
        <div class="columns">
            <aside class="column is-2 aside is-hidden-mobile is-placed-left">
                <nav class="menu">
                    <p class="menu-label">
                        Menu główne
                    </p>
                    <ul class="menu-list">
                        <li>
                            <a class="panel-option">
                                <p class="option main-site">Panel systemu</p>
                            </a>
                        </li>
                        <li>
                            <a class="panel-option">
                                <p class="option download">Pobierz aplikację</p>
                            </a>
                        </li>
                    </ul>
                    <p class="menu-label">
                        Kierowca
                    </p>
                    <ul class="menu-list">
                        <li>
                            <a href='/drivers-card'>
                                <p class="option driver-card">Karta kierowcy</p>
                            </a>
                        </li>
                        <li>
                            <a href="/add-delivery">
                                <p class="option add-delivery">Dodaj dostawę</p>
                            </a>
                        </li>
                        <li>
                            <a href="/Gielda/show-offers">
                                <p class="option gielda">Giełda zleceń</p>
                            </a>
                        </li>
                        <li>
                            <a>
                                <p class="option dispositions">Dyspozycje</p>
                            </a>
                        </li>
                    </ul>
                    <p class="menu-label">
                        Spedycja
                    </p>
                    <ul class="menu-list">
                        <li>
                            <a>
                                <p class="option search-company">
                                    Znajdź firmę
                                </p>
                            </a>
                        </li>
                        <li>
                            <a>
                                <p class="option vehicles">Twoje pojazdy</p>
                            </a>
                        </li>
                        <li>
                            <a>
                                <p class="option deliveries">Twoje dostawy</p>
                            </a>
                        </li>
                    </ul>
                </nav>
            </aside>
            <main class="column main">
                <header>
                    <h1 class="title">Giełda zleceń</h1>
                    <div class="box card filters">
                        <form action="" method="get">
                            <div class="columns">
                                <div class="column is-3">
                                    <div class="field">
                                        <p class="control">
                                            <input class="input" type="text" placeholder="Miasto załadunku">
                                        </p>
                                    </div>
                                </div>
                                <div class="column is-3">
                                    <div class="field">
                                        <p class="control">
                                            <input class="input" type="text" placeholder="Miasto rozładunku">
                                        </p>
                                    </div>
                                </div>
                                <div class="column">
                                    <div class="dropdown is-hoverable">
                                        <div class="dropdown-trigger">
                                            <button class="button" aria-haspopup="true" aria-controls="dropdown-menu">
                                                <span class="dropdown-title">Cena od</span>
                                                <span class="icon is-small">
                                                    <i class="fas fa-angle-down" aria-hidden="true"></i>
                                                </span>
                                            </button>
                                        </div>
                                        <div class="dropdown-menu" id="dropdown-menu" role="menu">
                                            <div class="dropdown-content">
                                                <a href="#" class="dropdown-item">
                                                    1 000 PLN
                                                </a>
                                                <a href="#" class="dropdown-item">
                                                    5 000 PLN
                                                </a>
                                                <a href="#" class="dropdown-item">
                                                    10 000 PLN
                                                </a>
                                                <a href="#" class="dropdown-item">
                                                    15 000 PLN
                                                </a>
                                                <a href="#" class="dropdown-item">
                                                    20 000 PLN
                                                </a>
                                                <a href="#" class="dropdown-item">
                                                    30 000 PLN
                                                </a>
                                                <a href="#" class="dropdown-item">
                                                    35 000 PLN
                                                </a>
                                                <a href="#" class="dropdown-item">
                                                    40 000 PLN
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="dropdown is-hoverable">
                                        <div class="dropdown-trigger">
                                            <button class="button" aria-haspopup="true" aria-controls="dropdown-menu">
                                                <span class="dropdown-title">Cena do</span>
                                                <span class="icon is-small">
                                                    <i class="fas fa-angle-down" aria-hidden="true"></i>
                                                </span>
                                            </button>
                                        </div>
                                        <div class="dropdown-menu" id="dropdown-menu" role="menu">
                                            <div class="dropdown-content">
                                                <a href="#" class="dropdown-item">
                                                    1 000 PLN
                                                </a>
                                                <a href="#" class="dropdown-item">
                                                    5 000 PLN
                                                </a>
                                                <a href="#" class="dropdown-item">
                                                    10 000 PLN
                                                </a>
                                                <a href="#" class="dropdown-item">
                                                    15 000 PLN
                                                </a>
                                                <a href="#" class="dropdown-item">
                                                    20 000 PLN
                                                </a>
                                                <a href="#" class="dropdown-item">
                                                    30 000 PLN
                                                </a>
                                                <a href="#" class="dropdown-item">
                                                    35 000 PLN
                                                </a>
                                                <a href="#" class="dropdown-item">
                                                    40 000 PLN
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="columns">
                                <div class="column is-3">
                                    <div class="field">
                                        <p class="control">
                                            <input class="input" type="text" placeholder="Kraj załadunku">
                                        </p>
                                    </div>
                                </div>
                                <div class="column is-3">
                                    <div class="field">
                                        <p class="control">
                                            <input class="input" type="text" placeholder="Kraj rozładunku">
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <a href="" class="button search-offers">Szukaj zleceń</a>
                        </form>
                    </div>
                    <div class="sort">
                        <div class="select sort-select">
                            <select>
                                <option>Wyróżnione zlecenia</option>
                                <option>Najdroższe</option>
                                <option>Najtańsze</option>
                                <option>Najcięższe</option>
                                <option>Najnowsze</option>
                            </select>
                        </div>
                    </div>
                    {% for offer in offers %}
                    <div class="box card offer-container">
                        <nav class="level offer">
                            <div class="level-item">
                                {% with 'hercules_app/assets/countries'|add:offer.loading_country|add:'.png' as image_static %}
                                <img src="{% static image_static %}" class="country-icon">
                                {% endwith %}
                                <span class="city-and-company">
                                    <p class="city">{{ offer.loading_city }}</p>
                                    {% with 'hercules_app/assets/companies'|add:offer.loading_spedition|add:'.png' as image_static %}
                                    <img src="{% static image_static %}" class="country-icon">
                                    {% endwith %}
                                </span>
                            </div>
                            <div class="level-item unloading-city">
                                {% with 'hercules_app/assets/countries'|add:offer.unloading_country|add:'.png' as image_static %}
                                <img src="{% static image_static %}" class="country-icon">
                                {% endwith %}
                                <span class="city-and-company">
                                    <p class="city">{{ offer.unloading_city }}</p>
                                    {% with 'hercules_app/assets/companies'|add:offer.unloading_spedition|add:'.png' as image_static %}
                                    <img src="{% static image_static %}" class="country-icon">
                                    {% endwith %}
                                </span>
                            </div>
                            <div class="level-item cargo">
                                <span class="cargo">
                                    <b>{{ offer.cargo }}</b>
                                    <br>
                                    {{ offer.tonnage }}kg
                                </span>
                            </div>
                            <div class="level-item trailer">
                                <span class="trailer">
                                    {{ offer.trailer }}
                                </span>
                            </div>
                            <div class="level-item income">
                                <span class="income">
                                    <b>{{ offer.price }} zł</b>
                                </span>
                            </div>
                            <div class="level-item ">
                                <a class="button check-details is-rounded">Sprawdź szczegóły</a>
                            </div>
                        </nav>
                    </div>
                    {% endfor %}
                </header>
            </main>
        </div>
    </div>
</body>

</html>