
{% load static %}
<!DOCTYPE html>
<html lang="pl-pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="Hercules to najlepszy polski system rozliczeń dla wirtualnych spedycji w ETS2. Dołącz do nas już teraz i zostań herosem transportu!">

    <link rel="apple-touch-icon" sizes="57x57" href="{% static 'assets/icons/apple-icon-57x57.png' %}">
    <link rel="apple-touch-icon" sizes="60x60" href="{% static 'assets/icons/apple-icon-60x60.png' %}">
    <link rel="apple-touch-icon" sizes="72x72" href="{% static 'assets/icons/apple-icon-72x72.png' %}">
    <link rel="apple-touch-icon" sizes="76x76" href="{% static 'assets/icons/apple-icon-76x76.png' %}">
    <link rel="apple-touch-icon" sizes="114x114" href="{% static 'assets/icons/apple-icon-114x114.png' %}">
    <link rel="apple-touch-icon" sizes="120x120" href="{% static 'assets/icons/apple-icon-120x120.png' %}">
    <link rel="apple-touch-icon" sizes="144x144" href="{% static 'assets/icons/apple-icon-144x144.png' %}">
    <link rel="apple-touch-icon" sizes="152x152" href="{% static 'assets/icons/apple-icon-152x152.png' %}">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'assets/icons/apple-icon-180x180.png' %}">
    <link rel="icon" type="image/png" sizes="192x192"
        href="{% static 'assets/icons/android-icon-192x192.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'assets/icons/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="96x96" href="{% static 'assets/icons/favicon-96x96.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'assets/icons/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'assets/manifest.json' %} ">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="{% static 'assets/icons/ms-icon-144x144.png' %}">
    <meta name="theme-color" content="#ffffff">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.2/css/bulma.min.css">
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <title>Hercules | Zostań herosem transportu!</title>
</head>
<body>
    <section class="hero is-large has-bg-img">
        <div class="hero-head">
            <nav class="navbar">
                <div class="container">
                    <div class="navbar-brand">
                        <a class="navbar-item">
                            <img src="{% static 'assets/logo.webp' %}">
                        </a>
                    </div>
                    <div class="navbar-menu">
                        <div class="navbar-end">
                            <div class="navbar-item">
                                <div class="buttons">
                                    <a href="/login" class="button sign-in is-white">Zaloguj się</a>
                                    <a href="/register" class="button sign-up is-rounded">Zarejestruj się</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
        <div class="hero-body">
            <div class="container">
                <p class="title is-1 title-header">Zostań <span style="color: #C70000">herosem transportu.</span> </p>
                <p class="subtitle is-4 title-description">Pokonuj miliony kilometrów z systemem Hercules.</p>
                <a class="button enter-system is-rounded">Wejdź do systemu!</a>
            </div>
        </div>
    </section>
    <img src="{% static 'assets/curve-invert.webp' %}">
    <div class="columns">
        <div class="column is-two-thirds left">
            <div class="column-text">
                <p class="title is-1 column-title">Zarządzaj vFirmą
                    jak <span style="color: #C70000">profesjonalista.</span></p>
                <p class="subtitle is-5 column-description">Używaj jedynego tak nowoczesnego systemu
                    rozliczeń. To jedyny system, który posiada tak
                    rozbudowane struktury, a jednocześnie zachowuje
                    prostotę i jest banalnie prosty w użyciu.</p>
            </div>
        </div>
        <div class="column right">
            <img class="screenshot" src="{% static 'assets/hercules-screen.png' %}">
        </div>
    </div>
    <img src="{% static 'assets/curve-norm.webp' %}">
    <div class="columns">
        <div class="column left"></div>
        <div class="column right">
            <div class="column-text">
                <p class="title is-1 column-title">Co nas <span style="color: #C70000">wyróżnia?</span></p>
                <p class="subtitle is-5 column-description">Na rynku systemów rozliczeń jest bardzo wiele projektów, które są jednak przestarzałe i nie trafiają w potrzeby użytkowników. Hercules jest inny - jest budowany dla każdego z osobna.</p>
            </div>
        </div>
    </div>
    <div class="columns">
        <div class="column">
            <div class="card">
                <header class="card-header">
                    <p class="card-header-title is-centered">Mobilność</p>
                </header>
                <a class="card-header-icon"><img src="{% static 'assets/icons/responsive.png' %}"></a>
                <div class="card-content">
                    <div class="content">
                        <p>Możesz korzystać z Herculesa na dowolnym urządzeniu i w pełni cieszyć się jego funkcjami także na telefonie.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="card">
                <header class="card-header">
                    <p class="card-header-title is-centered">Innowacyjność</p>
                </header>
                <a class="card-header-icon"><img src="{% static 'assets/icons/idea.png' %}"></a>
                <div class="card-content">
                    <div class="content">
                        <p>Wirtualna giełda
                        wirtualnych spedycji,
                        automatycznie wysyłanie tras - to tylko część tego, co Hercules ma do zaoferowania
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="card">
                <header class="card-header">
                    <p class="card-header-title is-centered">Szybkość</p>
                </header>
                <a class="card-header-icon"><img src="{% static 'assets/icons/stopwatch.png' %}"></a>
                <div class="card-content">
                    <div class="content">
                        <p>Oszczędź czas na wpisywaniu
                        tabelek i rozliczaniu tras.
                        Skorzystaj z automatycznego
                        wysyłania tras lub wrzuć screena Herculesowi, a on poradzi sobie z resztą.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <img src="{% static 'assets/curve-invert.webp' %}">
    <div class="columns">
        <div class="column is-half">
            <div class="column-text">
                <p class="title is-1 column-title">Zadaj nam<span style="color: #C70000"> pytanie!</span></p>
                <p class="subtitle is-5 column-description">Bardzo chętnie odpowiadamy na wszelkie pytania dotyczące systemu. Znalazłeś błąd? Chcesz podać pomysł? Napisz śmiało! Postaramy się odpowiedzieć tak szybko, jak tylko możemy (czyli gdy nie jesteśmy w wirtualnej trasie).
                </p>
            </div>
            <div class="form">
                <div class="field">
                    <label class="label">Twój e-mail</label>
                    <div class="control">
                        <input class="input" type="email" placeholder="np. dzesika11@janusz-trans.pl">
                    </div>
                    <label class="label">Twoja wiadomość</label>
                    <div class="control">
                        <textarea class="input" type="textarea" placeholder="Tutaj wpisz swoją wiadomosć" rows="15"></textarea>
                    </div>
                </div>
            </div>
            <div class="buttons-message">
                <a class="button send-message is-rounded">Wyślij wiadomość!</a>
            </div>
        </div>
    </div>
</body>
</html>