
{% load static %}
<!DOCTYPE html>
<html lang="pl-pl">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description"
        content="Hercules to najlepszy polski system rozliczeń dla wirtualnych spedycji w ETS2. Dołącz do nas już teraz i zostań herosem transportu!">

    <link rel="apple-touch-icon" sizes="57x57" href="{% static 'assets/icons/apple-icon-57x57.png' %}">
    <link rel="apple-touch-icon" sizes="60x60" href="{% static 'assets/icons/apple-icon-60x60.png' %}">
    <link rel="apple-touch-icon" sizes="72x72" href="{% static 'assets/icons/apple-icon-72x72.png' %}">
    <link rel="apple-touch-icon" sizes="76x76" href="{% static 'assets/icons/apple-icon-76x76.png' %}">
    <link rel="apple-touch-icon" sizes="114x114" href="{% static 'assets/icons/apple-icon-114x114.png' %}">
    <link rel="apple-touch-icon" sizes="120x120" href="{% static 'assets/icons/apple-icon-120x120.png' %}">
    <link rel="apple-touch-icon" sizes="144x144" href="{% static 'assets/icons/apple-icon-144x144.png' %}">
    <link rel="apple-touch-icon" sizes="152x152" href="{% static 'assets/icons/apple-icon-152x152.png' %}">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'assets/icons/apple-icon-180x180.png' %}">
    <link rel="icon" type="image/png" sizes="192x192"
        href="{% static 'assets/icons/android-icon-192x192.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'assets/icons/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="96x96" href="{% static 'assets/icons/favicon-96x96.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'assets/icons/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'assets/manifest.json' %} ">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="{% static 'assets/icons/ms-icon-144x144.png' %}">
    <meta name="theme-color" content="#ffffff">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.2/css/bulma.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/panel.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/offer_details.css' %}">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <title>Szczegóły oferty | Hercules</title>
</head>

<body>
{% include "hercules_app/main_panel.html" %}
    <div class="wrapper">
        <div class="columns">
            <aside class="column is-2 aside is-hidden-mobile is-placed-left">
                <nav class="menu">
                    <p class="menu-label">
                        Menu główne
                    </p>
                     <ul class="menu-list">
                        <li>
                            <a href="/panel">
                                <p class="option main-site">Panel systemu</p>
                            </a>
                        </li>
                        <li>
                            <a class="panel-option" href="/download">
                                <p class="option download">Pobierz aplikację</p>
                            </a>
                        </li>
                    </ul>
                    <p class="menu-label">
                        Kierowca
                    </p>
                    <ul class="menu-list">
                        <li>
                            <a href='/drivers-card'>
                                <p class="option driver-card">Karta kierowcy</p>
                            </a>
                        </li>
                        <li>
                            <a href="/add-delivery">
                                <p class="option add-delivery">Dodaj dostawę</p>
                            </a>
                        </li>
                        <li>
                            <a class="is-active" href="/Gielda/Offers">
                                <p class="option gielda">Giełda zleceń</p>
                            </a>
                        </li>
                        <li>
                            <a href="/Dispositions">
                                <p class="option dispositions">Dyspozycje</p>
                            </a>
                        </li>
                        <li>
                            <a href="/Deliveries">
                                <p class="option deliveries">Twoje dostawy</p>
                            </a>
                        </li>
                    </ul>
                    <p class="menu-label">
                        Spedycja
                    </p>
                    <ul class="menu-list">
                        {% if position is None %}
                        <li>
                            <a href="/Companies">
                                <p class="option search-company">
                                    Znajdź firmę
                                </p>
                            </a>
                        </li>
                        {% elif position is not None %}
                        <li>
                            <a href="/Company/CompanyProfile">
                                <p class="option company-profile">
                                    Profil firmy
                                </p>
                            </a>
                        </li>
                        <li>
                            <a href="/Company/Drivers">
                                <p class="option drivers">
                                    Kierowcy
                                </p>
                            </a>
                        </li>
                        {% endif %}
                        <li>
                            <a href="/Vehicles">
                                <p class="option vehicles">{% if position is None %} Twoje pojazdy {% else %}
                                    Pojazdy
                                    firmowe {% endif %}</p>
                            </a>
                        </li>
                        {% if position == "Szef" or position == "Spedytor" %}
                        <li>
                            <a href="/Company/Waybills">
                                <p class="option waybills">Listy przewozowe</p>
                            </a>
                        </li>
                        <li>
                            <a href="/Company/Dispositions">
                                <p class="option dispositions">Dyspozycje firmowe</p>
                            </a>
                        </li>
                        {% endif %}
                    {% if position == "Szef" %}
                        <li>
                            <a href="/Company/Settings">
                                <p class="option settings">Ustawienia firmy</p>
                            </a>
                        </li>
                        <li>
                            <a href="/Company/JobApplications">
                                <p class="option settings">Podania o pracę</p>
                            </a>
                        </li>
                    {% endif %}
                    {% if position is None %}
                    <li>
                        <a href="/JobApplications">
                            <p class="option settings">Podania o pracę</p>
                        </a>
                    </li>
                    {% endif %}
                    </ul>
                </nav>
            </aside>
            <main class="column main">
                <header>
                    <h1 class="title">Szczegóły oferty #{{ offer.id }}</h1>
                </header>
                <div class="box offer-basic-info">
                    <header>
                        <h1 class="basic-info-title">Podstawowe informacje</h1>
                    </header>
                    <div class="columns">
                        <div class="column left">
                            <p class="info-label">Dane załadunku</p>
                            <div class="loading-info">
                                    {% with 'assets/countries/'|add:offer.loading_country|add:'.png' as image_static %}
                                    <img src="{% static image_static %}" class="country-icon">
                                    {% endwith %}
                                    <span class="city-and-company">
                                        <p class="city">{{ offer.loading_city }}</p>
                                        {% with 'assets/companies/'|add:offer.loading_spedition|add:'.png'|file_exists as image_static %}
                                        <img src="{% static image_static %}" class="company-logo">
                                        {% endwith %}
                                    </span>
                            </div>
                            <div class="cargo-info">
                                <p class="info-label">Towar</p>
                                <h2 class="cargo-name">{{ offer.cargo }}</h2>
                            </div>
                        </div>
                        <div class="column right">
                            <p class="info-label">Dane rozładunku</p>
                            <div class="unloading-info">
                                {% with 'assets/countries/'|add:offer.unloading_country|add:'.png' as image_static %}
                                <img src="{% static image_static %}" class="country-icon">
                                {% endwith %}
                                <span class="city-and-company">
                                    <p class="city">{{ offer.unloading_city }}</p>
                                    {% with 'assets/companies/'|add:offer.unloading_spedition|add:'.png'|file_exists as image_static %}
                                    <img src="{% static image_static %}" class="company-logo">
                                    {% endwith %}
                                </span>
                            </div>
                            <div class="cargo-info">
                                <p class="info-label">Tonaż</p>
                                <h2 class="tonnage">{{ offer.tonnage }} kg</h2>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="box offer-details">
                    <header>
                        <h1 class="basic-info-title">Szczegóły oferty</h1>
                    </header>
                    <div class="columns">
                        <div class="column left">
                            <div class="trailer-info">
                                <p class="info-label">Rodzaj naczepy</p>
                                <h2 class="trailer">{{ offer.trailer }}</h2>
                            </div>
                        </div>
                        <div class="column">
                            <div class="adr-info">
                                <p class="info-label">Klasa ADR</p>
                                <h2 class="adr-class">{{ offer.adr }}</h2>
                            </div>
                        </div>
                        <div class="column">
                            <div class="oversize-info">
                                <p class="info-label">Towar ponadnormatywny</p>
                                <h2 class="oversize">{% if offer.oversized %} Tak {% endif %} {% if offer.oversized == False %} Nie dotyczy {% endif %}</h2>
                            </div>
                        </div>
                    </div>
                    <div class="columns">
                        <div class="column left">
                            <div class="offer-date">
                                <p class="info-label">Data wystawienia</p>
                                <h2 class="date"> {{ offer.created_at|date:"d b Y, H:m" }} </h2>
                            </div>
                        </div>
                        <div class="column">
                            <div class="offer-income">
                                <p class="info-label">Kwota</p>
                                <h2 class="income">{{ offer.price }} zł</h2>
                            </div>
                        </div>
                        <div class="column">
                            <div class="offer-seller">
                                <p class="info-label">Wystawca</p>
                                <h2 class="seller">{{ offer.creator }}</h2>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="field buttons">
                    <div class="control">
                        <a {% if is_self_employeed %} href="DisposeOffer/{{ id }}"
                            {% else %} href="/Gielda/Offers/ChooseDriver" {% endif %}
                            class="button accept">Przyjmij zlecenie</a>
                    </div>
                </div>
            </main>
        </div>
    </div>
</body>

</html>