
{% load static %}

<!DOCTYPE html>
<html lang="pl-pl">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description"
        content="Hercules to najlepszy polski system rozliczeń dla wirtualnych spedycji w ETS2. Dołącz do nas już teraz i zostań herosem transportu!">

    <link rel="apple-touch-icon" sizes="57x57" href="{% static '/assets/icons/apple-icon-57x57.png' %}">
    <link rel="apple-touch-icon" sizes="60x60" href="{% static '/assets/icons/apple-icon-60x60.png' %}">
    <link rel="apple-touch-icon" sizes="72x72" href="{% static '/assets/icons/apple-icon-72x72.png' %}">
    <link rel="apple-touch-icon" sizes="76x76" href="{% static '/assets/icons/apple-icon-76x76.png' %}">
    <link rel="apple-touch-icon" sizes="114x114" href="{% static '/assets/icons/apple-icon-114x114.png' %}">
    <link rel="apple-touch-icon" sizes="120x120" href="{% static '/assets/icons/apple-icon-120x120.png' %}">
    <link rel="apple-touch-icon" sizes="144x144" href="{% static '/assets/icons/apple-icon-144x144.png' %}">
    <link rel="apple-touch-icon" sizes="152x152" href="{% static '/assets/icons/apple-icon-152x152.png' %}">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static '/assets/icons/apple-icon-180x180.png' %}">
    <link rel="icon" type="image/png" sizes="192x192"
        href="{% static '/assets/icons/android-icon-192x192.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static '/assets/icons/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="96x96" href="{% static '/assets/icons/favicon-96x96.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static '/assets/icons/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static '/assets//manifest.json' %} ">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="{% static '/assets/icons/ms-icon-144x144.png' %}">
    <meta name="theme-color" content="#ffffff">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/panel.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/dispositions.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.4/toastr.min.js"></script>
    <script src="{% static 'js/toast.js' %}"></script>
    <title> Panel użytkownika | Hercules</title>
</head>

<body>
        {% include "hercules_app/main_panel.html" %}
        <div class="columns">
            <aside class="column is-2 aside is-hidden-mobile is-placed-left">
                <nav class="menu">
                    <p class="menu-label">
                        Menu główne
                    </p>
                    <ul class="menu-list">
                        <li>
                            <a class="is-active" href="/panel">
                                <p class="option main-site">Panel systemu</p>
                            </a>
                        </li>
                        <li>
                            <a class="panel-option" href="/download">
                                <p class="option download">Pobierz aplikację</p>
                            </a>
                        </li>
                    </ul>
                    <p class="menu-label">
                        Kierowca
                    </p>
                    <ul class="menu-list">
                        <li>
                            <a href="/drivers-card">
                                <p class="option driver-card">Karta kierowcy</p>
                            </a>
                        </li>
                        <li>
                            <a href="/add-delivery">
                                <p class="option add-delivery">Dodaj dostawę</p>
                            </a>
                        </li>
                        <li>
                            <a href="/Gielda/Offers/">
                                <p class="option gielda">Giełda zleceń</p>
                            </a>
                        </li>
                        <li>
                            <a href="/Dispositions">
                                <p class="option dispositions">Dyspozycje</p>
                            </a>
                        </li>
                        <li>
                            <a href="/Deliveries">
                                <p class="option deliveries">Twoje dostawy</p>
                            </a>
                        </li>
                    </ul>
                    <p class="menu-label">
                        Spedycja
                    </p>
                    <ul class="menu-list">
                        {% if position is None %}
                        <li>
                            <a href="/Companies">
                                <p class="option search-company">
                                    Znajdź firmę
                                </p>
                            </a>
                        </li>
                        {% elif position is not None %}
                        <li>
                            <a href="/CompanyProfile">
                                <p class="option company-profile">
                                    Profil firmy
                                </p>
                            </a>
                        </li>
                        <li>
                            <a href="/Company/Drivers">
                                <p class="option drivers">
                                    Kierowcy
                                </p>
                            </a>
                        </li>
                        {% endif %}
                        <li>
                            <a href="/Vehicles">
                                <p class="option vehicles">{% if position is None %} Twoje pojazdy {% else %}
                                    Pojazdy
                                    firmowe {% endif %}</p>
                            </a>
                        </li>
                        {% if position == "Szef" or position == "Spedytor" %}
                        <li>
                            <a href="/Company/Waybills">
                                <p class="option waybills">Listy przewozowe</p>
                            </a>
                        </li>
                        <li>
                            <a href="/Company/Dispositions">
                                <p class="option dispositions">Dyspozycje firmowe</p>
                            </a>
                        </li>
                        {% endif %}
                    {% if position == "Szef" %}
                        <li>
                            <a href="/Company/Settings">
                                <p class="option settings">Ustawienia firmy</p>
                            </a>
                        </li>
                        <li>
                            <a href="/Company/JobApplications">
                                <p class="option settings">Podania o pracę</p>
                            </a>
                        </li>
                    {% endif %}
                    {% if position is None %}
                    <li>
                        <a href="/JobApplications">
                            <p class="option settings">Podania o pracę</p>
                        </a>
                    </li>
                    {% endif %}
                    </ul>
                </nav>
            </aside>
            <main class="column main">
                <h1 class="title head-title">Twoje <span class="colored">statystyki</span></h1>
                <div class="columns is-multiline">
                    <div class="column">
                        <div class="box card distance-card">
                            <article class="media">
                                <div class="media-left">
                                    <figure class="image is-64x64">
                                        <img src="{% static '/assets/icons/distance-card.png' %}"
                                            alt="Image">
                                    </figure>
                                </div>
                                <div class="media-content">
                                    <div class="content">
                                        <h6 class="card-title">Pokonany dystans</h6>
                                        <h1 class="card-value distance">{{ statistics.distance }}<span class="colored">
                                                km</span></h1>
                                    </div>
                                </div>
                            </article>
                        </div>
                        {% if periodic_norm and company %}
                        <div class="box card periodic-norm-card">
                            <header class="card-header">
                                <a href="" class="card-header-icon">
                                    <span class="icon">
                                        <i class="" aria-hidden="true">
                                            <figure class="image is-48x48">
                                                <img src="{% static '/assets/icons/periodic-norm.png' %}" alt="Image">
                                            </figure>
                                        </i>
                                    </span>
                                </a>
                                <p class="card-header-title">
                                    Norma tygodniowa
                                </p>
                            </header>
                                <div class="periodic-norm">
                                    <img src="{% static 'assets/icons/distance-card.png' %}" class="image is-64x64">
                                    <span class="periodic-norm-text">
                                        <label class="label">Pokonany dystans</label>
                                        <b class="periodic-norm-distance {% if realised %} realised {% else %} not-realised {% endif %}">{{ periodic_norm_distance }} km</b> / {{ periodic_norm }} km
                                    </span>
                                    {% if realised %}
                                    <img src="{% static 'assets/icons/tick.png' %}" class="image is-48x48 tick">
                                    {% endif %}
                                </div>
                        </div>
                        {% endif %}
                        <div class="box card status-card">
                            <article class="media">
                                <div class="media-left">
                                    <figure class="image is-64x64">
                                        <img src="{% static '/assets/icons/status-card.png' %}" alt="Image">
                                    </figure>
                                </div>
                                <div class="media-content">
                                    <div class="content">
                                        <h6 class="card-title">Status serwerów TruckersMP</h6>
                                        <h4 class="status-value"><strong><span class="colored">Simulation
                                                    1</span></strong>: {{ simulation1_players }} graczy</h4>
                                        <h4 class="status-value"><strong><span class="colored">Simulation
                                                    2</span></strong>: {{ simulation2_players }} graczy</h4>
                                        <h4 class="status-value"><strong><span class="colored">ProMods
                                                    </span></strong>: {{ promods_players }} graczy</h4>
                                    </div>
                                </div>
                            </article>
                        </div>
                        <div class="box card">
                            <header class="card-header">
                                <a href="" class="card-header-icon">
                                    <span class="icon">
                                        <i class="" aria-hidden="true">
                                            <figure class="image is-48x48">
                                                <img src="{% static '/assets/icons/dispositions-card.png' %}"
                                                    alt="Image">
                                            </figure>
                                        </i>
                                    </span>
                                </a>
                                <p class="card-header-title">
                                    Twoje dyspozycje
                                </p>
                            </header>
                            {% if rozpiski %}
                            {% for rozpiska in rozpiski %}
                                <div class="columns">
                                    <div class="column">
                                        <div
                                            class="rozpiska-loading-info {% if rozpiska.first_disposition.finished %} finished {% endif %}">
                                            {% with '/assets/countries/'|add:rozpiska.first_disposition.loading_country|add:'.png' as image_static %}
                                            <img src="{% static image_static %}" class="country-icon">
                                            {% endwith %}
                                            <span class="city-and-company">
                                                <p class="city">{{ rozpiska.first_disposition.loading_city }}</p>
                                                {% with '/assets/companies/'|add:rozpiska.first_disposition.loading_spedition|add:'.png' as image_static %}
                                                <img src="{% static image_static %}" class="company">
                                                {% endwith %}
                                            </span>
                                        </div>
                                        <div
                                            class="rozpiska-loading-info {% if rozpiska.second_disposition.finished %} finished {% endif %}">
                                            {% with '/assets/countries/'|add:rozpiska.second_disposition.loading_country|add:'.png' as image_static %}
                                            <img src="{% static image_static %}" class="country-icon">
                                            {% endwith %}
                                            <span class="city-and-company">
                                                <p class="city">{{ rozpiska.second_disposition.loading_city }}</p>
                                                {% with '/assets/companies/'|add:rozpiska.second_disposition.loading_spedition|add:'.png' as image_static %}
                                                <img src="{% static image_static %}" class="company">
                                                {% endwith %}
                                            </span>
                                        </div>
                                        <div
                                            class="rozpiska-loading-info {% if rozpiska.third_disposition.finished %} finished {% endif %}">
                                            {% with '/assets/countries/'|add:rozpiska.third_disposition.loading_country|add:'.png' as image_static %}
                                            <img src="{% static image_static %}" class="country-icon">
                                            {% endwith %}
                                            <span class="city-and-company">
                                                <p class="city">{{ rozpiska.third_disposition.loading_city }}</p>
                                                {% with '/assets/companies/'|add:rozpiska.third_disposition.loading_spedition|add:'.png' as image_static %}
                                                <img src="{% static image_static %}" class="company">
                                                {% endwith %}
                                            </span>
                                        </div>
                                        <div
                                            class="rozpiska-loading-info {% if rozpiska.fourth_disposition.finished %} finished {% endif %}">
                                            {% with '/assets/countries/'|add:rozpiska.fourth_disposition.loading_country|add:'.png' as image_static %}
                                            <img src="{% static image_static %}" class="country-icon">
                                            {% endwith %}
                                            <span class="city-and-company">
                                                <p class="city">{{ rozpiska.fourth_disposition.loading_city }}</p>
                                                {% with '/assets/companies/'|add:rozpiska.fourth_disposition.loading_spedition|add:'.png' as image_static %}
                                                <img src="{% static image_static %}" class="company">
                                                {% endwith %}
                                            </span>
                                        </div>
                                        <div
                                            class="rozpiska-loading-info {% if rozpiska.fifth_disposition.finished %} finished {% endif %}">
                                            {% with '/assets/countries/'|add:rozpiska.fifth_disposition.loading_country|add:'.png' as image_static %}
                                            <img src="{% static image_static %}" class="country-icon">
                                            {% endwith %}
                                            <span class="city-and-company">
                                                <p class="city">{{ rozpiska.fifth_disposition.loading_city }}</p>
                                                {% with '/assets/companies/'|add:rozpiska.fifth_disposition.loading_spedition|add:'.png' as image_static %}
                                                <img src="{% static image_static %}" class="company">
                                                {% endwith %}
                                            </span>
                                        </div>
                                    </div>
                                    <div class="column">
                                        <div
                                            class="rozpiska-unloading-info {% if rozpiska.first_disposition.finished %} finished {% endif %}">
                                            {% with '/assets/countries/'|add:rozpiska.first_disposition.unloading_country|add:'.png' as image_static %}
                                            <img src="{% static image_static %}" class="country-icon">
                                            {% endwith %}
                                            <span class="city-and-company">
                                                <p class="city">{{ rozpiska.first_disposition.unloading_city }}</p>
                                                {% with '/assets/companies/'|add:rozpiska.first_disposition.unloading_spedition|add:'.png' as image_static %}
                                                <img src="{% static image_static %}" class="company">
                                                {% endwith %}
                                            </span>
                                        </div>
                                        <div
                                            class="rozpiska-unloading-info {% if rozpiska.second_disposition.finished %} finished {% endif %}">
                                            {% with '/assets/countries/'|add:rozpiska.second_disposition.unloading_country|add:'.png' as image_static %}
                                            <img src="{% static image_static %}" class="country-icon">
                                            {% endwith %}
                                            <span class="city-and-company">
                                                <p class="city">{{ rozpiska.second_disposition.unloading_city }}</p>
                                                {% with '/assets/companies/'|add:rozpiska.second_disposition.unloading_spedition|add:'.png' as image_static %}
                                                <img src="{% static image_static %}" class="company">
                                                {% endwith %}
                                            </span>
                                        </div>
                                        <div
                                            class="rozpiska-unloading-info {% if rozpiska.third_disposition.finished %} finished {% endif %}">
                                            {% with '/assets/countries/'|add:rozpiska.third_disposition.unloading_country|add:'.png' as image_static %}
                                            <img src="{% static image_static %}" class="country-icon">
                                            {% endwith %}
                                            <span class="city-and-company">
                                                <p class="city">{{ rozpiska.third_disposition.unloading_city }}</p>
                                                {% with '/assets/companies/'|add:rozpiska.third_disposition.unloading_spedition|add:'.png' as image_static %}
                                                <img src="{% static image_static %}" class="company">
                                                {% endwith %}
                                            </span>
                                        </div>
                                        <div
                                            class="rozpiska-unloading-info {% if rozpiska.fourth_disposition.finished %} finished {% endif %}">
                                            {% with '/assets/countries/'|add:rozpiska.fourth_disposition.unloading_country|add:'.png' as image_static %}
                                            <img src="{% static image_static %}" class="country-icon">
                                            {% endwith %}
                                            <span class="city-and-company">
                                                <p class="city">{{ rozpiska.fourth_disposition.unloading_city }}</p>
                                                {% with '/assets/companies/'|add:rozpiska.fourth_disposition.unloading_spedition|add:'.png' as image_static %}
                                                <img src="{% static image_static %}" class="company">
                                                {% endwith %}
                                            </span>
                                        </div>
                                        <div
                                            class="rozpiska-unloading-info {% if rozpiska.fifth_disposition.finished %} finished {% endif %}">
                                            {% with '/assets/countries/'|add:rozpiska.fifth_disposition.unloading_country|add:'.png' as image_static %}
                                            <img src="{% static image_static %}" class="country-icon">
                                            {% endwith %}
                                            <span class="city-and-company">
                                                <p class="city">{{ rozpiska.fifth_disposition.unloading_city }}</p>
                                                {% with '/assets/companies/'|add:rozpiska.fifth_disposition.unloading_spedition|add:'.png' as image_static %}
                                                <img src="{% static image_static %}" class="company">
                                                {% endwith %}
                                            </span>
                                        </div>
                                    </div>
                                    <div class="column">
                                        <div
                                            class="rozpiska-cargo {% if rozpiska.first_disposition.finished %} finished {% endif %}">
                                            <span class="cargo">
                                                <b>{{ rozpiska.first_disposition.cargo }}</b>
                                                <br>
                                                {{ rozpiska.first_disposition.tonnage }} kg
                                            </span>
                                        </div>
                                        <div
                                            class="rozpiska-cargo {% if rozpiska.second_disposition.finished %} finished {% endif %}">
                                            <span class="cargo">
                                                <b>{{ rozpiska.second_disposition.cargo }}</b>
                                                <br>
                                                {{ rozpiska.second_disposition.tonnage }} kg
                                            </span>
                                        </div>
                                        <div
                                            class="rozpiska-cargo {% if rozpiska.third_disposition.finished %} finished {% endif %}">
                                            <span class="cargo">
                                                <b>{{ rozpiska.third_disposition.cargo }}</b>
                                                <br>
                                                {{ rozpiska.third_disposition.tonnage }} kg
                                            </span>
                                        </div>
                                        <div
                                            class="rozpiska-cargo {% if rozpiska.fourth_disposition.finished %} finished {% endif %}">
                                            <span class="cargo">
                                                <b>{{ rozpiska.fourth_disposition.cargo }}</b>
                                                <br>
                                                {{ rozpiska.fourth_disposition.tonnage }} kg
                                            </span>
                                        </div>
                                        <div
                                            class="rozpiska-cargo {% if rozpiska.fifth_disposition.finished %} finished {% endif %}">
                                            <span class="cargo">
                                                <b>{{ rozpiska.fifth_disposition.cargo }}</b>
                                                <br>
                                                {{ rozpiska.fifth_disposition.tonnage }} kg
                                            </span>
                                        </div>
                                    </div>
                                    <div class="column">
                                        <div
                                            class="rozpiska-deadline {% if rozpiska.first_disposition.finished %} finished {% endif %}">
                                            <span class="date">
                                                <b>Data wykonania:</b>
                                                <br>
                                                {{ rozpiska.first_disposition.deadline|date:"d b Y, H:m" }}
                                            </span>
                                        </div>
                                        <div
                                            class="rozpiska-deadline {% if rozpiska.second_disposition.finished %} finished {% endif %}">
                                            <span class="date">
                                                <b>Data wykonania:</b>
                                                <br>
                                                {{ rozpiska.second_disposition.deadline|date:"d b Y, H:m" }}
                                            </span>
                                        </div>
                                        <div
                                            class="rozpiska-deadline {% if rozpiska.third_disposition.finished %} finished {% endif %}">
                                            <span class="date">
                                                <b>Data wykonania:</b>
                                                <br>
                                                {{ rozpiska.third_disposition.deadline|date:"d b Y, H:m" }}
                                            </span>
                                        </div>
                                        <div
                                            class="rozpiska-deadline {% if rozpiska.fourth_disposition.finished %} finished {% endif %}">
                                            <span class="date">
                                                <b>Data wykonania:</b>
                                                <br>
                                                {{ rozpiska.fourth_disposition.deadline|date:"d b Y, H:m" }}
                                            </span>
                                        </div>
                                        <div
                                            class="rozpiska-deadline {% if rozpiska.fifth_disposition.finished %} finished {% endif %}">
                                            <span class="date">
                                                <b>Data wykonania:</b>
                                                <br>
                                                {{ rozpiska.fifth_disposition.deadline|date:"d b Y, H:m" }}
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                            {% elif dispositions %}
                            {% for disposition in dispositions %}
                                <div class="columns">
                                    <div class="column">
                                        <div class="loading-info">
                                            {% with '/assets/countries/'|add:disposition.loading_country|add:'.png' as image_static %}
                                            <img src="{% static image_static %}" class="country-icon">
                                            {% endwith %}
                                            <span class="city-and-company">
                                                <p class="city">{{ disposition.loading_city }}</p>
                                                {% with '/assets/companies/'|add:disposition.loading_spedition|add:'.png' as image_static %}
                                                <img src="{% static image_static %}" class="company">
                                                {% endwith %}
                                            </span>
                                        </div>
                                    </div>
                                    <div class="column">
                                        <div class="unloading-info">
                                            {% with '/assets/countries/'|add:disposition.unloading_country|add:'.png' as image_static %}
                                            <img src="{% static image_static %}" class="country-icon">
                                            {% endwith %}
                                            <span class="city-and-company">
                                                <p class="city">{{ disposition.unloading_city }}</p>
                                                {% with '/assets/companies/'|add:disposition.unloading_spedition|add:'.png' as image_static %}
                                                <img src="{% static image_static %}" class="company">
                                                {% endwith %}
                                            </span>
                                        </div>
                                    </div>
                                    <div class="column">
                                        <div class="cargo">
                                            <span class="cargo">
                                                <b>{{ disposition.cargo }}</b>
                                                <br>
                                                {{ disposition.tonnage }} kg
                                            </span>
                                        </div>
                                    </div>
                                    <div class="column">
                                        <div class="deadline">
                                            <span class="date">
                                                <b>Data wykonania:</b>
                                                <br>
                                                {{ disposition.deadline|date:"d b Y, H:m" }}
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                            {% else %}
                                <div class="no-disposition">
                                <img src="{% static 'assets/icons/no_disposition.png' %}" class="no-disposition-icon">
                                <span class="no-disposition-text">
                                    <h1 class="no-disposition-title">Nie masz żadnych dyspozycji.</h1>
                                    {% if position is None %}
                                    <p class="sub-text">
                                        Tutaj pojawią się zlecenia,
                                        które potwierdziłeś na giełdzie zleceń.
                                    </p>
                                    {% else %}
                                    <p class="sub-text">
                                        Tutaj pojawią się zlecenia od spedycji lub zlecenia,
                                        które potwierdziłeś na giełdzie zleceń.
                                    </p>
                                    {% endif %}
                                </span>
                                </div>

                            {% endif %}
                        </div>
                    </div>
                    <div class="column">
                        <div class="box card fuel-card">
                            <article class="media">
                                <div class="media-left">
                                    <figure class="image is-64x64">
                                        <img src="{% static '/assets/icons/gas-card.png' %}" alt="Image">
                                    </figure>
                                </div>
                                <div class="media-content">
                                    <div class="content">
                                        <h6 class="card-title">Średnia paliwa</h6>
                                        <h1 class="card-value used-fuel">{{ statistics.average_fuel }} <span
                                                class="colored">l/100 km</span></h1>
                                    </div>
                                </div>
                            </article>
                        </div>
                        <div class="box card">
                            <header class="card-header">
                                <a href="" class="card-header-icon">
                                    <span class="icon">
                                        <i class="" aria-hidden="true">
                                            <figure class="image is-48x48">
                                                <img src="{% static '/assets/icons/steering-wheel.png' %}"
                                                    alt="Image">
                                            </figure>
                                        </i>
                                    </span>
                                </a>
                                <p class="card-header-title">
                                    Twój pojazd
                                </p>
                            </header>
                            {% if vehicle %}
                            <div class="columns">
                                <div class="column">
                                    <figure class="vehicle-image">
                                        <img src="{{ vehicle.photo }}" >
                                    </figure>
                                </div>
                                <div class="column">
                                    <span class="vehicle-info">
                                        {% with '/assets/manufacturers/'|add:vehicle.brand|lower|add:'.png' as image_static %}
                                        <img src="{% static image_static %}" class="manufacturer" alt="Image">
                                        {% endwith %}
                                        <h2 class="vehicle-name">{{ vehicle.brand }}
                                            {{ vehicle.model }} {{ vehicle.cabin }}</h2>
                                        <p class="engine-power"><strong>Moc silnika:
                                                {{ vehicle.engine_power }} KM</strong>
                                        </p>
                                        <p class="odometer"><strong>Przebieg: {{ vehicle.odometer }} km</strong>
                                        </p>
                                    </span>
                                </div>
                            </div>
                            {% else %}
                            <div class="no-vehicle">
                                <img src="{% static 'assets/icons/no_vehicle.png' %}" class="no-vehicle-icon">
                                <span class="no-vehicle-text">
                                    <h1 class="no-vehicle-title">Nie masz żadnego pojazdu.</h1>
                                    <p class="sub-text">
                                        {% if position is None %}
                                        Dodaj pojazd w zakładce Twoje pojazdy.
                                        {% elif position == "Szef" or position == "Dyspozytor" %}
                                        Nie został Ci przydzielony żaden pojazd.
                                        Dodaj pojazd w zakładce Pojazdy.
                                        {% else %}
                                        Nie został Ci przydzielony żaden pojazd.
                                        Zgłoś tę informację Szefowi lub dyspozytorowi firmy.
                                        {% endif %}
                                    </p>
                                </span>
                            </div>
                            {% endif %}
                        </div>
                        <div class="box card">
                            <header class="card-header">
                                <a href="" class="card-header-icon">
                                    <span class="icon">
                                        <i class="" aria-hidden="true">
                                            <figure class="image is-48x48">
                                                <img src="{% static '/assets/icons/dispositions-card.png' %}"
                                                    alt="Image">
                                            </figure>
                                        </i>
                                    </span>
                                </a>
                                <p class="card-header-title">
                                    Promowane oferty z Giełdy zleceń
                                </p>
                            </header>
                            {% if offers %}
                            {% for offer in offers %}
                            <div class="columns disposition">
                                <div class="column">
                                    <div class="level-item loading-city">
                                        {% with '/assets/countries/'|add:offer.loading_country|add:'.png' as image_static %}
                                        <img src="{% static image_static %}" class="country-icon">
                                        {% endwith %}
                                        <span class="city-and-company">
                                            <p class="city">{{ offer.loading_city }}</p>
                                            {% with '/assets/companies/'|add:offer.loading_spedition|add:'.png' as image_static %}
                                            <img src="{% static image_static %}" class="spedition">
                                            {% endwith %}
                                        </span>
                                    </div>
                                </div>
                                <div class="column">
                                    <div class="level-item unloading-city">
                                        {% with '/assets/countries/'|add:offer.unloading_country|add:'.png' as image_static %}
                                        <img src="{% static image_static %}" class="country-icon">
                                        {% endwith %}
                                        <span class="city-and-company">
                                            <p class="city">{{ offer.unloading_city }}</p>
                                            {% with '/assets/companies/'|add:offer.unloading_spedition|add:'.png' as image_static %}
                                            <img src="{% static image_static %}" class="spedition">
                                            {% endwith %}
                                        </span>
                                    </div>
                                </div>
                                <div class="column">
                                    <div class="level-item cargo">
                                        <span class="cargo">
                                            <b>{{ offer.cargo }}</b>
                                            <br>
                                            {{ offer.tonnage }} kg
                                            </span>
                                    </div>
                                </div>
                                <div class="column">
                                    <div class="level-item price">
                                        <b>{{ offer.price }} zł</b>
                                    </div>
                                </div>
                                <div class="column">
                                    <div class="level-item ">
                                        <a href="/Gielda/Offers/{{ offer.id }}" class="button check-details is-rounded">Sprawdź
                                            szczegóły</a>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                            {% else %}
                            <div class="no-disposition">
                                <img src="{% static 'assets/icons/no_disposition.png' %}" class="no-disposition-icon">
                                <span class="no-disposition-text">
                                    <h1 class="no-disposition-title">Nie ma żadnych zleceń.</h1>
                                    <p class="sub-text">
                                        Tutaj pojawią się zlecenia z giełdy zleceń, które chcemy Ci polecić.
                                    </p>
                                </span>
                            </div>
                            {% endif %}
                        </div>
                        </div>
                    </div>
            </main>
        </div>
    </div>
</body>

</html>