{% load static %}
<!DOCTYPE html>
<html lang="pl-pl">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description"
        content="Hercules to najlepszy polski system rozliczeń dla wirtualnych spedycji w ETS2. Dołącz do nas już teraz i zostań herosem transportu!">

    <link rel="apple-touch-icon" sizes="57x57" href="{% static '/assets/icons/apple-icon-57x57.png' %}">
    <link rel="apple-touch-icon" sizes="60x60" href="{% static '/assets/icons/apple-icon-60x60.png' %}">
    <link rel="apple-touch-icon" sizes="72x72" href="{% static '/assets/icons/apple-icon-72x72.png' %}">
    <link rel="apple-touch-icon" sizes="76x76" href="{% static '/assets/icons/apple-icon-76x76.png' %}">
    <link rel="apple-touch-icon" sizes="114x114" href="{% static '/assets/icons/apple-icon-114x114.png' %}">
    <link rel="apple-touch-icon" sizes="120x120" href="{% static '/assets/icons/apple-icon-120x120.png' %}">
    <link rel="apple-touch-icon" sizes="144x144" href="{% static '/assets/icons/apple-icon-144x144.png' %}">
    <link rel="apple-touch-icon" sizes="152x152" href="{% static '/assets/icons/apple-icon-152x152.png' %}">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static '/assets/icons/apple-icon-180x180.png' %}">
    <link rel="icon" type="image/png" sizes="192x192"
        href="{% static '/assets/icons/android-icon-192x192.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static '/assets/icons/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="96x96" href="{% static '/assets/icons/favicon-96x96.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static '/assets/icons/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static '/assets//manifest.json' %} ">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="{% static '/assets/icons/ms-icon-144x144.png' %}">
    <meta name="theme-color" content="#ffffff">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/panel.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.4/toastr.min.js"></script>
    <script src="{% static 'js/toast.js' %}"></script>
    <title> Panel użytkownika | Hercules</title>
</head>

<body>
    <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-start">
            <div class="navbar-brand">
                <a class="navbar-item">
                    <img src="{% static '/assets/logo.png' %}" width="194" height="55">
                </a>
                <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false">
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                </a>
            </div>
        </div>
        <div class="navbar-end is-hidden-mobile">
            <a class="navbar-item">
                <figure class="image is-48x48 avatar-fig">
                    <img class="avatar" src="{{ avatar }}">
                </figure>
                <span class="user">
                    <p class="username">{{ nick }}</p>
                    {% if company != "" %}
                    <p class="user-company">{{ company }}</p>
                    {% endif %}
                </span>
            </a>
            <a href="/logout" class="navbar-item">
                <span class="icon is-medium logout">
                    <i class="fas fa-sign-out-alt"></i>
                </span>
                <p class="logout-text">Wyloguj się</p>
            </a>
        </div>
    </nav>
    <div class="wrapper">
        <div class="columns">
            <aside class="column is-2 aside is-hidden-mobile is-placed-left">
                <nav class="menu">
                    <p class="menu-label">
                        Menu główne
                    </p>
                    <ul class="menu-list">
                        <li>
                            <a class="is-active" href="/panel">
                                <p class="option main-site">Panel systemu</p>
                            </a>
                        </li>
                        <li>
                            <a class="panel-option" href="/download">
                                <p class="option download">Pobierz aplikację</p>
                            </a>
                        </li>
                    </ul>
                    <p class="menu-label">
                        Kierowca
                    </p>
                    <ul class="menu-list">
                        <li>
                            <a href='/drivers-card'>
                                <p class="option driver-card">Karta kierowcy</p>
                            </a>
                        </li>
                        <li>
                            <a href="/add-delivery">
                                <p class="option add-delivery">Dodaj dostawę</p>
                            </a>
                        </li>
                        <li>
                            <a href="/Gielda/Offers">
                                <p class="option gielda">Giełda zleceń</p>
                            </a>
                        </li>
                        <li>
                            <a href="/Dispositions">
                                <p class="option dispositions">Dyspozycje</p>
                            </a>
                        </li>
                    </ul>
                    <p class="menu-label">
                        Spedycja
                    </p>
                    <ul class="menu-list">
                        <li>
                            <a href="/Companies">
                                <p class="option search-company">
                                    Znajdź firmę
                                </p>
                            </a>
                        </li>
                        <li>
                            <a href="/Vehicles">
                                <p class="option vehicles">Twoje pojazdy</p>
                            </a>
                        </li>
                        <li>
                            <a href="/Deliveries">
                                <p class="option deliveries">Twoje dostawy</p>
                            </a>
                        </li>
                    </ul>
                </nav>
            </aside>
            <main class="column main">
                <h1 class="title head-title">Twoje <span class="colored">statystyki</span></h1>
                <div class="columns is-multiline">
                    <div class="column">
                        <div class="box card distance-card">
                            <article class="media">
                                <div class="media-left">
                                    <figure class="image is-64x64">
                                        <img src="{% static '/assets/icons/distance-card.png' %}"
                                            alt="Image">
                                    </figure>
                                </div>
                                <div class="media-content">
                                    <div class="content">
                                        <h6 class="card-title">Pokonany dystans</h6>
                                        <h1 class="card-value distance">{{ statistics.distance }}<span class="colored">
                                                km</span></h1>
                                    </div>
                                </div>
                            </article>
                        </div>
                        <div class="box card status-card">
                            <article class="media">
                                <div class="media-left">
                                    <figure class="image is-64x64">
                                        <img src="{% static '/assets/icons/status-card.png' %}" alt="Image">
                                    </figure>
                                </div>
                                <div class="media-content">
                                    <div class="content">
                                        <h6 class="card-title">Status serwerów TruckersMP</h6>
                                        <h4 class="status-value"><strong><span class="colored">Simulation
                                                    1</span></strong>: 5030 graczy</h4>
                                        <h4 class="status-value"><strong><span class="colored">Simulation
                                                    1</span></strong>: 5030 graczy</h4>
                                        <h4 class="status-value"><strong><span class="colored">Simulation
                                                    1</span></strong>: 5030 graczy</h4>
                                    </div>
                                </div>
                            </article>
                        </div>
                        <div class="box card">
                            <header class="card-header">
                                <a href="" class="card-header-icon">
                                    <span class="icon">
                                        <i class="" aria-hidden="true">
                                            <figure class="image is-48x48">
                                                <img src="{% static '/assets/icons/dispositions-card.png' %}"
                                                    alt="Image">
                                            </figure>
                                        </i>
                                    </span>
                                </a>
                                <p class="card-header-title">
                                    Twoje dyspozycje
                                </p>
                            </header>
                            {% if dispositions %}
                            {% for disposition in dispositions %}
                            <div class="columns disposition">
                                <div class="column">
                                    <div class="level-item loading-city">
                                        {% with '/assets/countries/'|add:disposition.loading_country|add:'.png' as image_static %}
                                        <img src="{% static image_static %}" class="country-icon">
                                        {% endwith %}
                                        <span class="city-and-company">
                                            <p class="city">{{ disposition.loading_city }}</p>
                                            {% with '/assets/companies/'|add:disposition.loading_spedition|add:'.png' as image_static %}
                                            <img src="{% static image_static %}" class="spedition">
                                            {% endwith %}
                                        </span>
                                    </div>
                                </div>
                                <div class="column">
                                    <div class="level-item unloading-city">
                                        {% with '/assets/countries/'|add:disposition.unloading_country|add:'.png' as image_static %}
                                        <img src="{% static image_static %}" class="country-icon">
                                        {% endwith %}
                                        <span class="city-and-company">
                                            <p class="city">{{ disposition.unloading_city }}</p>
                                            {% with '/assets/companies/'|add:disposition.unloading_spedition|add:'.png' as image_static %}
                                            <img src="{% static image_static %}" class="spedition">
                                            {% endwith %}
                                        </span>
                                    </div>
                                </div>
                                <div class="column">
                                    <div class="level-item cargo">
                                        <span class="cargo">
                                            <b>{{ disposition.cargo }}</b>
                                            <br>
                                            {{ disposition.tonnage }} kg
                                            </sp>
                                    </div>
                                </div>
                                <div class="column">
                                    <div class="level-item ">
                                        <a class="button check-details is-rounded">Sprawdź szczegóły</a>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                            {% else %}
                            <div class="no-disposition">
                                <img src="{% static 'assets/icons/no_disposition.png' %}" class="no-disposition-icon">
                                <span class="no-disposition-text">
                                    <h1 class="no-disposition-title">Nie masz żadnych dyspozycji.</h1>
                                    <p class="sub-text">
                                        Tutaj pojawią się zlecenia od spedycji lub zlecenia,
                                        które potwierdziłeś na giełdzie zleceń.
                                    </p>
                                </span>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="column">
                        <div class="box card fuel-card">
                            <article class="media">
                                <div class="media-left">
                                    <figure class="image is-64x64">
                                        <img src="{% static '/assets/icons/gas-card.png' %}" alt="Image">
                                    </figure>
                                </div>
                                <div class="media-content">
                                    <div class="content">
                                        <h6 class="card-title">Średnia paliwa</h6>
                                        <h1 class="card-value used-fuel">{{ statistics.average_fuel }} <span
                                                class="colored">l/100 km</span></h1>
                                    </div>
                                </div>
                            </article>
                        </div>
                        <div class="box card">
                            <header class="card-header">
                                <a href="" class="card-header-icon">
                                    <span class="icon">
                                        <i class="" aria-hidden="true">
                                            <figure class="image is-48x48">
                                                <img src="{% static '/assets/icons/steering-wheel.png' %}"
                                                    alt="Image">
                                            </figure>
                                        </i>
                                    </span>
                                </a>
                                <p class="card-header-title">
                                    Twój pojazd
                                </p>
                            </header>
                            {% if vehicle %}
                            <div class="columns">
                                <div class="column">
                                    <figure class="vehicle-image">
                                        <img class="" src="{{ vehicle.photo }}" alt="">
                                    </figure>
                                </div>
                                <div class="column">
                                    <span class="vehicle-info">
                                        <img src="{% static '/assets/man.png' %}" alt="Image">
                                        <h2 class="vehicle-name">{% if vehicle %} {{ vehicle.brand }}
                                            {{ vehicle.model }} {{ vehicle.cabin }} {% endif %}</h2>
                                        <img src="{% static '/assets/WLS23090.png' %}"
                                            class="registration-number" alt="Numer rejestracyjny">
                                        <p class="engine-power"><strong>Moc silnika: {% if vehicle %}
                                                {{ vehicle.engine }} {% endif %} KM</strong>
                                        </p>
                                        <p class="odometer"><strong>Przebieg: {% if vehicle %} {{ vehicle.odometer }}
                                                {% endif %} km</strong>
                                        </p>
                                    </span>
                                </div>
                            </div>
                            {% else %}
                            <div class="no-vehicle">
                                <img src="{% static 'assets/icons/no_vehicle.png' %}" class="no-vehicle-icon">
                                <span class="no-vehicle-text">
                                    <h1 class="no-vehicle-title">Nie masz żadnego pojazdu.</h1>
                                    <p class="sub-text">
                                        Nie został Ci przydzielony żaden pojazd.
                                        {% if position == "Właściciel" or position == "Dyspozytor" %}
                                        Dodaj pojazd w zakładce Pojazdy.
                                        {% else %}
                                        Zgłoś tę informację właścicielowi lub dyspozytorowi firmy.
                                        {% endif %}
                                    </p>
                                </span>
                            </div>
                            {% endif %}
                        </div>
                    </div>
            </main>
        </div>
    </div>
</body>

</html>