{% load static %}
<!DOCTYPE html>
<html lang="pl-pl">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description"
        content="Hercules to najlepszy polski system rozliczeń dla wirtualnych spedycji w ETS2. Dołącz do nas już teraz i zostań herosem transportu!">

    <link rel="apple-touch-icon" sizes="57x57" href="{% static 'hercules_appassets/icons/apple-icon-57x57.png}">
    <link rel="apple-touch-icon" sizes="60x60" href="{% static 'assets/icons/apple-icon-60x60.png' %}">
    <link rel="apple-touch-icon" sizes="72x72" href="{% static 'assets/icons/apple-icon-72x72.png' %}">
    <link rel="apple-touch-icon" sizes="76x76" href="{% static 'assets/icons/apple-icon-76x76.png' %}">
    <link rel="apple-touch-icon" sizes="114x114" href="{% static 'assets/icons/apple-icon-114x114.png' %}">
    <link rel="apple-touch-icon" sizes="120x120" href="{% static 'assets/icons/apple-icon-120x120.png' %}">
    <link rel="apple-touch-icon" sizes="144x144" href="{% static 'assets/icons/apple-icon-144x144.png' %}">
    <link rel="apple-touch-icon" sizes="152x152" href="{% static 'assets/icons/apple-icon-152x152.png' %}">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'hercules_appassets/icons/apple-icon-180x180.png' %}">
    <link rel="icon" type="image/png" sizes="192x192"
        href="{% static 'assets/android-icon-192x192.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'assets/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="96x96" href="{% static 'assets/favicon-96x96.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'assets/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'assets/manifest.json' %} ">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png' %}">
    <meta name="theme-color" content="#ffffff">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.2/css/bulma.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/panel.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/companies.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/company_profile.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/send_application.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/verify_waybill.css' %}">
    <link rel='stylesheet prefetch'
        href='https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.1/css/selectize.min.css'>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.2/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <title> Złóż podanie o pracę | Hercules</title>
</head>

<body>
{% include "hercules_app/main_panel.html" %}
        <div class="columns">
            <aside class="column is-2 aside is-hidden-mobile is-placed-left">
                <nav class="menu">
                    <p class="menu-label">
                        Menu główne
                    </p>
                    <ul class="menu-list">
                        <li>
                            <a href="/panel">
                                <p class="option main-site">Panel systemu</p>
                            </a>
                        </li>
                        <li>
                            <a class="panel-option" href="/download">
                                <p class="option download">Pobierz aplikację</p>
                            </a>
                        </li>
                    </ul>
                    <p class="menu-label">
                        Kierowca
                    </p>
                    <ul class="menu-list">
                        <li>
                            <a href='/drivers-card'>
                                <p class="option driver-card">Karta kierowcy</p>
                            </a>
                        </li>
                        <li>
                            <a href="/add-delivery">
                                <p class="option add-delivery">Dodaj dostawę</p>
                            </a>
                        </li>
                        <li>
                            <a href="/Gielda/Offers">
                                <p class="option gielda">Giełda zleceń</p>
                            </a>
                        </li>
                        <li>
                            <a href="/Dispositions">
                                <p class="option dispositions">Dyspozycje</p>
                            </a>
                        </li>
                        <li>
                            <a href="/Deliveries">
                                <p class="option deliveries">Twoje dostawy</p>
                            </a>
                        </li>
                    </ul>
                    <p class="menu-label">
                        Spedycja
                    </p>
                    <ul class="menu-list">
                        {% if position is None %}
                        <li>
                            <a href="/Companies">
                                <p class="option search-company">
                                    Znajdź firmę
                                </p>
                            </a>
                        </li>
                        {% elif position is not None %}
                        <li>
                            <a href="/Company/CompanyProfile">
                                <p class="option company-profile">
                                    Profil firmy
                                </p>
                            </a>
                        </li>
                        <li>
                            <a href="/Company/Drivers">
                                <p class="option drivers">
                                    Kierowcy
                                </p>
                            </a>
                        </li>
                        {% endif %}
                        <li>
                            <a href="/Vehicles">
                                <p class="option vehicles">{% if position is None %} Twoje pojazdy {% else %} Pojazdy
                                    firmowe {% endif %}</p>
                            </a>
                        </li>
                        {% if position == "Szef" or position == "Spedytor" %}
                        <li>
                            <a href="/Company/Waybills">
                                <p class="option waybills">Listy przewozowe</p>
                            </a>
                        </li>
                        <li>
                            <a href="/Company/Dispositions">
                                <p class="option dispositions">Dyspozycje firmowe</p>
                            </a>
                        </li>
                        {% endif %}
                    {% if position == "Szef" %}
                        <li>
                            <a href="/Settings">
                                <p class="option settings">Ustawienia firmy</p>
                            </a>
                        </li>
                        <li>
                            <a href="/Company/JobApplications">
                                <p class="option settings">Podania o pracę</p>
                            </a>
                        </li>
                        {% endif %}
                    </ul>
                </nav>
            </aside>
            <main class="column main">
                <header>
                    <h1 class="title">Złóż podanie</h1>
                </header>
                <form action="" method="POST">
                    {% csrf_token %}

                <div class="box basic-info">
                    <div class="columns">
                        <div class="column">
                            <label class="label">Nick</label>
                            {{ form.driver }}
                            <label class="label">Miasto</label>
                            {{ form.town }}
                        </div>
                        <div class="column">
                            <label class="label">Wiek</label>
                            {{ form.age }}
                            <label class="label">Posiadane DLC</label>
                            <select id="select-dlc" multiple></select>
                            {{ form.dlc }}
                        </div>
                    </div>
                </div>
                <div class="box basic-info">
                    <div class="columns">
                        <div class="column">
                            <label class="label">Link do profilu Steam</label>
                            {{ form.steam_profile }}
                        </div>
                        <div class="column">
                            <label class="label">Link do profilu TruckersMP (opcjonalne)</label>
                            {{ form.truckers_mp_profile }}
                        </div>
                    </div>
                    <label for="" class="label">O mnie</label>
                    {{ form.about_me }}
                </div>
                <div class="field is-grouped">
                    <div class="control">
                        <button type="submit" class="button send-cv">Wyślij podanie</a>
                    </div>
                </div>
                </form>
            </main>
        </div>
    </div>
</body>
<script src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.1/js/standalone/selectize.min.js'></script>
<script src="{% static 'js/send_application.js' %}"></script>
<script src="{% static 'js/selectize_dlc.js' %}"></script>
</html>