
{% load static %}
<!DOCTYPE html>
<html lang="pl-pl">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description"
        content="Hercules to najlepszy polski system rozliczeń dla wirtualnych spedycji w ETS2. Dołącz do nas już teraz i zostań herosem transportu!">

    <link rel="apple-touch-icon" sizes="57x57" href="{% static 'assets/icons/apple-icon-57x57.png' %}">
    <link rel="apple-touch-icon" sizes="60x60" href="{% static 'assets/icons/apple-icon-60x60.png' %}">
    <link rel="apple-touch-icon" sizes="72x72" href="{% static 'assets/icons/apple-icon-72x72.png' %}">
    <link rel="apple-touch-icon" sizes="76x76" href="{% static 'assets/icons/apple-icon-76x76.png' %}">
    <link rel="apple-touch-icon" sizes="114x114" href="{% static 'assets/icons/apple-icon-114x114.png' %}">
    <link rel="apple-touch-icon" sizes="120x120" href="{% static 'assets/icons/apple-icon-120x120.png' %}">
    <link rel="apple-touch-icon" sizes="144x144" href="{% static 'assets/icons/apple-icon-144x144.png' %}">
    <link rel="apple-touch-icon" sizes="152x152" href="{% static 'assets/icons/apple-icon-152x152.png' %}">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'assets/icons/apple-icon-180x180.png' %}">
    <link rel="icon" type="image/png" sizes="192x192"
        href="{% static 'assets/icons/android-icon-192x192.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'assets/icons/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="96x96" href="{% static 'assets/icons/favicon-96x96.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'assets/icons/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'assets/manifest.json' %} ">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="{% static 'assets/icons/ms-icon-144x144.png' %}">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png' %}">
    <meta name="theme-color" content="#ffffff">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.2/css/bulma.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/panel.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/companies.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/company_profile.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.2/css/bulma.min.css">
    <link rel='stylesheet prefetch'
        href='https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.1/css/selectize.min.css'>
    <link rel='stylesheet' href="{% static 'css/bulma-switch.min.css' %}">
    <link rel='stylesheet' href="{% static 'css/bulma-checkradio.min.css' %}">
    <link rel='stylesheet' href="{% static 'css/bulma-accordion.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/settings.css' %}">

    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <script defer src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script defer src='https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.1/js/standalone/selectize.min.js'>
    </script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.4/toastr.min.js"></script>
    <script defer src="{% static 'js/add_company.js' %}"></script>
    <script defer src="{% static 'js/delete_company.js' %}"></script>
    <script defer src="{% static 'js/toast.js' %}"></script>
    <script src="{% static 'js/bulma-accordion.js' %}"></script>
    <title> Ustawienia firmy | Hercules</title>
</head>

<body>
{% include "hercules_app/main_panel.html" %}
        <div class="columns">
            <aside class="column is-2 aside is-hidden-mobile is-placed-left">
                <nav class="menu">
                    <p class="menu-label">
                        Menu główne
                    </p>
                    <ul class="menu-list">
                        <li>
                            <a class="panel-option" href="/panel">
                                <p class="option main-site">Panel systemu</p>
                            </a>
                        </li>
                        <li>
                            <a class="panel-option" href="/download">
                                <p class="option download">Pobierz aplikację</p>
                            </a>
                        </li>
                    </ul>
                    <p class="menu-label">
                        Kierowca
                    </p>
                    <ul class="menu-list">
                        <li>
                            <a href="/drivers-card">
                                <p class="option driver-card">Karta kierowcy</p>
                            </a>
                        </li>
                        <li>
                            <a href="/add-delivery">
                                <p class="option add-delivery">Dodaj dostawę</p>
                            </a>
                        </li>
                        <li>
                            <a href="/Gielda/Offers/">
                                <p class="option gielda">Giełda zleceń</p>
                            </a>
                        </li>
                        <li>
                            <a href="/Dispositions">
                                <p class="option dispositions">Dyspozycje</p>
                            </a>
                        </li>
                        <li>
                            <a href="/Deliveries">
                                <p class="option deliveries">Twoje dostawy</p>
                            </a>
                        </li>
                    </ul>
                    <p class="menu-label">
                        Spedycja
                    </p>
                    <ul class="menu-list">
                        {% if position is None %}
                        <li>
                            <a href="/Companies">
                                <p class="option search-company">
                                    Znajdź firmę
                                </p>
                            </a>
                        </li>
                        {% elif position is not None %}
                        <li>
                            <a href="/Company/CompanyProfile">
                                <p class="option company-profile">
                                    Profil firmy
                                </p>
                            </a>
                        </li>
                        <li>
                            <a href="/Company/Drivers">
                                <p class="option drivers">
                                    Kierowcy
                                </p>
                            </a>
                        </li>
                        {% endif %}
                        <li>
                            <a href="/Vehicles">
                                <p class="option vehicles">{% if position is None %} Twoje pojazdy {% else %}
                                    Pojazdy
                                    firmowe {% endif %}</p>
                            </a>
                        </li>
                        {% if position == "Szef" or position == "Spedytor" %}
                        <li>
                            <a href="/Company/Waybills">
                                <p class="option waybills">Listy przewozowe</p>
                            </a>
                        </li>
                        <li>
                            <a href="/Company/Dispositions">
                                <p class="option dispositions">Dyspozycje firmowe</p>
                            </a>
                        </li>
                        {% endif %}
                    {% if position == "Szef" %}
                        <li>
                            <a class="is-active" href="/Company/Settings">
                                <p class="option settings">Ustawienia firmy</p>
                            </a>
                        </li>
                        <li>
                            <a href="/Company/JobApplications">
                                <p class="option settings">Podania o pracę</p>
                            </a>
                        </li>
                    {% endif %}
                    {% if position is None %}
                    <li>
                        <a href="/JobApplications">
                            <p class="option settings">Podania o pracę</p>
                        </a>
                    </li>
                    {% endif %}
                    </ul>
                </nav>
            </aside>
            <main class="column main">
                <header>
                    <h1 class="title">Stwórz nową firmę</h1>
                </header>
                <section class="accordions">
                    <article class="accordion">
                        <div class="accordion-header toggle">
                            <b>Podstawowe ustawienia</b>
                            <button class="toggle" aria-label="toggle"></button>
                        </div>
                        <div class="accordion-body">
                            <form action="/Company/Settings/EditCompanyInformation" method="post" enctype="multipart/form-data">
                                {% csrf_token %}
                                <div class="box basic-info">
                                    <div class="columns">
                                        <div class="column">
                                            <img src="{{ company.logo.url }}" class="company-logo">
                                            {{ edit_company_form.logo }}

                                        </div>
                                        <div class="column">
                                            <label class="label">Nazwa firmy</label>
                                            {{ edit_company_form.name }}
                                            <label class="label">Gry</label>
                                            <select id="select-options" multiple></select>
                                            {{ edit_company_form.games }}
                                            <div class="field">
                                                {{ edit_company_form.is_recruiting }}
                                                <label for="switchRoundedDefault" class="label">Przyjmujemy nowych
                                                    kierowców</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="box description">
                                    <div class="columns">
                                        <div class="column">
                                            <label for="" class="label">Strona internetowa</label>
                                            {{ edit_company_form.website }}
                                            <label class="label">Wymagane DLC</label>
                                            <select id="select-dlc" multiple></select>
                                            {{ edit_company_form.dlc }}
                                        </div>
                                        <div class="column">
                                            <label for="" class="label">Link do komunikatora</label>
                                            {{ edit_company_form.communicator_url }}
                                        </div>
                                    </div>
                                </div>
                                <div class="box description">
                                    <label class="label">Opis</label>
                                    {{ edit_company_form.description }}
                                </div>
                                <a class="button add-new-company" type="submit">Zapisz zmiany</button>
                            </form>
                        </div>
                    </article>
                    <article class="accordion is-active">
                        <div class="accordion-header">
                            <b>Ustawienia firmy</b>
                            <a class="toggle" aria-label="toggle"></a>
                        </div>
                        <div class="accordion-body">
                            <form action="/Company/Settings/EditCompanyCompany/Settings" method="POST">
                                {% csrf_token %}
                            <div class="box description">
                                <div class="columns">
                                    <div class="column setting">
                                        <div class="periodic-norm-container">
                                            <label class="label">Norma okresowa</label>
                                            <div class="field has-addons">
                                                <div class="control">
                                                    {{ edit_company_settings_form.periodic_norm_distance }}
                                                </div>
                                                <div class="control">
                                                    <a class="button is-static">
                                                        km
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="field">
                                                {% for choice in edit_company_settings_form.periodic_norm_type %}
                                                    {{ choice.tag }}
                                                    <label for="{{ choice.data.attrs.id }}"
                                                        class="label">{{ choice.choice_label }}</label>
                                                {% endfor %}
                                            </div>
                                        </div>
                                        <div class="random-vehicle-container">
                                            <div class="field">
                                                {{ edit_company_settings_form.random_vehicle }}
                                                <label class="label" for="random-vehicle">Losowe przydzielanie
                                                    pojazdu</label>
                                            </div>
                                            <div class="field">
                                                {% for choice in edit_company_settings_form.random_vehicle_type %}
                                                {{ choice.tag }}
                                                <label for="{{ choice.data.attrs.id }}"
                                                    class="label">{{ choice.choice_label }}</label>
                                                {% endfor %}
                                            </div>
                                        </div>
                                        <div class="only-assistant-container">
                                            <div class="field">
                                                {{ edit_company_settings_form.only_assistant }}
                                                <label class="label" for="only-assistant">Tylko trasy z Hercules
                                                    Assistant</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="column setting-right">
                                        <div class="disposition-norm-container">
                                            <label class="label">Norma dyspozycyjna</label>
                                            <div class="field has-addons">
                                                {{ edit_company_settings_form.disposition_norm }}
                                                <div class="control">
                                                    <a class="button is-static">
                                                        dyspozycji
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="field">
                                                {% for choice in edit_company_settings_form.disposition_norm_type %}
                                                {{ choice.tag }}
                                                <label for="{{ choice.data.attrs.id }}"
                                                    class="label">{{ choice.choice_label }}</label>
                                                {% endfor %}
                                            </div>
                                        </div>
                                        <div class="save-sync-container">
                                            <div class="field">
                                                <div class="field">
                                                    {{ edit_company_settings_form.auto_synchronization }}
                                                    <label class="label" for="sync-save-check">Automatyczna
                                                        synchronizacja
                                                        zapisów gry</label>
                                                    <p class="hint">Zapisy gry kierowców będą automatycznie
                                                        synchronizować się z
                                                        giełdą
                                                        zleceń, pobierać dyspozycje i weryfikować poprawność zlecenia.
                                                    </p>
                                                </div>
                                            </div>
                                            <div class="field">
                                                {{ edit_company_settings_form.max_90 }}
                                                <label class="label" for="max-90-check">Maksymalnie 90 km/h</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <a class="button add-new-company" type="submit">Zapisz zmiany</button>
                            </form>
                        </div>
                    </article>
                    <article class="accordion">

                        <div class="accordion-header">
                            <b>Zamknięcie firmy</b>
                            <button class="toggle"></button>
                        </div>
                        <div class="accordion-body">
                            <div class="box description">
                                <label class="label">Zamknięcie firmy</label>
                                <a class="button is-danger delete-company">Zamknij firmę</button>
                            </div>
                        </div>

                    </article>
                </section>

        </div>
        </main>
        <div class="modal delete-company-modal" id="page-modal">
            <div class="modal-background delete-company-background"></div>
            <div class="modal-content">
                <div class="box">
                    <form action="/Companies/DeleteCompany" method="post">
                        {% csrf_token %}
                        <span>
                            <h1 class="title">Czy na pewno usunąć firmę?
                            </h1>
                            <p class="subtitle is-5">Statystyki firmy oraz pojazdy firmowe zostaną bezpowrotnie usunięte. Zachowasz swoje statystyki. Tej operacji nie można wycofać. </p>
                        </span>
                        <div class="modal-buttons">
                            <a class="button cancel-delete" data-dismiss="modal">Wróć</a>
                            <button type="submit" class="button is-danger" id="deleteCompanyButton" href="#">Usuń firmę</button>
                        </div>
                    </form>
                </div>
            </div>
            <button class="modal-close is-large delete-company-close" aria-label="close"></button>
        </div>
    </div>
    </div>
</body>


</html>