{% load static %}
<!DOCTYPE html>
<html lang="pl-pl">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description"
        content="Hercules to najlepszy polski system rozliczeń dla wirtualnych spedycji w ETS2. Dołącz do nas już teraz i zostań herosem transportu!">

    <link rel="apple-touch-icon" sizes="57x57" href="{% static '/assets/icons/apple-icon-57x57.png' %}">
    <link rel="apple-touch-icon" sizes="60x60" href="{% static '/assets/icons/apple-icon-60x60.png' %}">
    <link rel="apple-touch-icon" sizes="72x72" href="{% static '/assets/icons/apple-icon-72x72.png' %}">
    <link rel="apple-touch-icon" sizes="76x76" href="{% static '/assets/icons/apple-icon-76x76.png' %}">
    <link rel="apple-touch-icon" sizes="114x114" href="{% static '/assets/icons/apple-icon-114x114.png' %}">
    <link rel="apple-touch-icon" sizes="120x120" href="{% static '/assets/icons/apple-icon-120x120.png' %}">
    <link rel="apple-touch-icon" sizes="144x144" href="{% static '/assets/icons/apple-icon-144x144.png' %}">
    <link rel="apple-touch-icon" sizes="152x152" href="{% static '/assets/icons/apple-icon-152x152.png' %}">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static '/assets/icons/apple-icon-180x180.png' %}">
    <link rel="icon" type="image/png" sizes="192x192" href="{% static '/assets/icons/android-icon-192x192.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static '/assets/icons/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="96x96" href="{% static '/assets/icons/favicon-96x96.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static '/assets/icons/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static '/assets/manifest.json' %} ">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="{% static '/assets/icons/ms-icon-144x144.png' %}">
    <meta name="theme-color" content="#ffffff">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/panel.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/vehicles.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.4/toastr.min.js"></script>
    <script src="{% static 'js/toast.js' %}"></script>
    <title> Twoje pojazdy | Hercules</title>
</head>

<body>
    <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-start">
            <div class="navbar-brand">
                <a class="navbar-item">
                    <img src="{% static '/assets/logo.png' %}" width="194" height="55">
                </a>
                <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false">
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                </a>
            </div>
        </div>
        <div class="navbar-end is-hidden-mobile">
            <a class="navbar-item">
                <figure class="image is-48x48 avatar-fig">
                    <img class="avatar" src="{{ args.avatar }}">
                </figure>
                <span class="user">
                    <p class="username">{{ args.nick }}</p>
                    {% if args.company != "" %}
                    <p class="company">{{ args.company }}</p>
                    {% endif %}
                </span>
            </a>
            <a class="navbar-item">
                <span class="icon is-medium logout">
                    <i class="fas fa-sign-out-alt"></i>
                </span>
                <p class="logout-text">Wyloguj się</p>
            </a>
        </div>
    </nav>
    <div class="wrapper">
        <div class="columns">
            <aside class="column is-2 aside is-hidden-mobile is-placed-left">
                <nav class="menu">
                    <p class="menu-label">
                        Menu główne
                    </p>
                    <ul class="menu-list">
                        <li>
                            <a href="/panel">
                                <p class="option main-site">Panel systemu</p>
                            </a>
                        </li>
                        <li>
                            <a class="panel-option" href="/download">
                                <p class="option download">Pobierz aplikację</p>
                            </a>
                        </li>
                    </ul>
                    <p class="menu-label">
                        Kierowca
                    </p>
                    <ul class="menu-list">
                        <li>
                            <a href='/drivers-card'>
                                <p class="option driver-card">Karta kierowcy</p>
                            </a>
                        </li>
                        <li>
                            <a href="/add-delivery">
                                <p class="option add-delivery">Dodaj dostawę</p>
                            </a>
                        </li>
                        <li>
                            <a href="/Gielda/Offers">
                                <p class="option gielda">Giełda zleceń</p>
                            </a>
                        </li>
                        <li>
                            <a href="/Dispositions">
                                <p class="option dispositions">Dyspozycje</p>
                            </a>
                        </li>
                        <li>
                            <a href="/Deliveries">
                                <p class="option deliveries">Twoje dostawy</p>
                            </a>
                        </li>
                    </ul>
                    <p class="menu-label">
                        Spedycja
                    </p>
                    <ul class="menu-list">
                        {% if position == "" %}
                        <li>
                            <a href="/Companies">
                                <p class="option search-company">
                                    Znajdź firmę
                                </p>
                            </a>
                        </li>
                        {% elif position != "" %}
                        <li>
                            <a href="/CompanyProfile">
                                <p class="option company-profile">
                                    Profil firmy
                                </p>
                            </a>
                        </li>
                        <li>
                            <a href="/Drivers">
                                <p class="option drivers">
                                    Kierowcy
                                </p>
                            </a>
                        </li>
                        {% endif %}
                        <li>
                            <a class="is-active" href="/Vehicles">
                                <p class="option vehicles">{% if position == "" %} Twoje pojazdy {% else %} Pojazdy
                                    firmowe {% endif %}</p>
                            </a>
                        </li>
                        {% if position == "Właściciel" or position == "Spedytor" %}
                        <li>
                            <a href="/Waybills">
                                <p class="option waybills">Listy przewozowe</p>
                            </a>
                        </li>
                        {% endif %}
                        {% if position == "Właściciel" %}
                        <li>
                            <a href="/Settings">
                                <p class="option settings">Ustawienia firmy</p>
                            </a>
                        </li>
                        <li>
                            <a href="/Statistics/">
                                <p class="option vehicles">{% if position == "" %} Twoje pojazdy {% else %} Pojazdy
                                    firmowe {% endif %}</p>
                            </a>
                        </li>
                        {% endif %}
                    </ul>
                </nav>
            </aside>
            <main class="column main">
                <header>
                    <h1 class="title">Twoje pojazdy </h1>
                </header>
                <a href="Vehicles/AddNewVehicle" class="button add-vehicle">+ Dodaj pojazd</a>
                {% if vehicles %}
                {% for vehicle in vehicles %}
                <div class="box card company-offer">
                    <a href="Vehicles/{{ vehicle.id }}">
                        <div class="columns">
                            <div class="column is-one-third">
                                <img src="{{ vehicle.photo.url }}" class="_vehicle-image">
                            </div>
                            <div class="column">
                                <span class="brand-info">
                                    {% with '/assets/manufacturers/'|add:vehicle.brand|lower|add:'.png' as image_static %}
                                    <img src="{% static image_static %}" class="_vehicle-brand" alt="Image">
                                    {% endwith %}
                                    <h2 class="vehicle-model">{{ vehicle.brand }}
                                        {{ vehicle.model }} {{ vehicle.cabin }}</h2>
                                </span>
                                <div class="columns">
                                    <div class="column">
                                        <div class="current-driver">
                                            <img src="media/{{ vehicle.driver.avatar }}" class="driver-avatar">
                                            <span class="current-driver-span">
                                                <label class="hint">Obecny kierowca</label>
                                                <h2 class="driver-username">{{ vehicle.driver.nick }}</h2>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="column">
                                        <div class="vehicle-parameters">
                                            <b>Przebieg: {{ vehicle.odometer }} km</b>
                                            <p>Moc silnika: {{ vehicle.engine }} KM</p>
                                            <p>Skrzynia biegów: {{ vehicle.gearbox }}</p>
                                            <p>Kabina: {{ vehicle.cabin }}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                {% endfor %}
                {% else %}
                <div class="box card no-vehicle-container">
                    <div class="no-vehicle">
                        <img src="{% static 'assets/icons/no_vehicle.png' %}" class="no-vehicle-icon">
                        <span class="no-vehicle-text">
                            <h1 class="no-vehicle-title">Firma nie posiada żadnego pojazdu.</h1>
                            <p class="sub-text">
                                {% if position == "Właściciel" or position == "Dyspozytor" %}
                                Dodaj pojazd w zakładce Pojazdy.
                                {% else %}
                                Zgłoś tę informację właścicielowi lub dyspozytorowi firmy.
                                {% endif %}
                            </p>
                        </span>
                    </div>
                </div>
                {% endif %}
            </main>
        </div>
    </div>
</body>

</html>