* {
  font-family: 'Montserrat', sans-serif;
}

.navbar-item img {
  max-height: 4rem !important;
  margin-left: 5%;
  margin-bottom: 5%;
}

.main {
  background-color: #EEEEEE;
  min-height: 94vh;
  height: 100%;
}

.avatar-fig {
  margin-right: 15px;
}

.avatar {
  border-radius: 25px;
}

.username,
.logout-text {
  font-weight: 700;
}

.menu {
  font-family: 'Montserrat', sans-serif;
}

.menu .menu-list > li > a {
  font-weight: 700;
  padding: 1em;
}

.menu .menu-label {
  margin-left: 15px;
  font-size: .65em;
}

.menu .option:before {
  content: '';
  vertical-align: middle;
  display: inline-block;
  width: 24px;
  margin: 0 15px 0 0;
  height: 24px;
}

.menu a[class=is-active] > .main-site:before {
  background: url("/static/assets/icons/main-panel-active.png") no-repeat;
}

.menu a[class=is-active] > .download:before {
  background: url("/static/assets/icons/download_active.png") no-repeat;
}

.menu a[class=is-active] > .driver-card:before {
  background: url("/static/assets/icons/driver_card_active.png") no-repeat;
}

.menu a[class=is-active] > .add-delivery:before,
.menu a[class=is-active] > .waybills:before {
  background: url("/static/assets/icons/add_delivery_active.png") no-repeat;
}

.menu a[class=is-active] > .gielda:before {
  background: url("/static/assets/icons/gielda_active.png") no-repeat;
}

.menu a[class=is-active] > .dispositions:before {
  background: url("/static/assets/icons/map_active.png") no-repeat;
  height: 27px;
}

.menu a[class=is-active] > .company_profile:before {
  background: url("/static/assets/icons/company-profile_active.png") no-repeat;
}

.menu a[class=is-active] > .search-company:before {
  background: url("/static/assets/icons/search_active.png") no-repeat;
}

.menu a[class=is-active] > .vehicles:before {
  background: url("/static/assets/icons/vehicles_active.png") no-repeat;
}

.menu a[class=is-active] > .deliveries:before,
.menu a[class=is-active] > .waybills:before {
  background: url("/static/assets/icons/deliveries_active.png") no-repeat;
}

.menu a[class=is-active] > .settings:before {
  background: url("/static/assets/icons/settings_active.png") no-repeat;
}

.menu .main-site:before {
  background: url("/static/assets/icons/main-panel.png") no-repeat;
}

.menu .download:before {
  background: url("/static/assets/icons/download.png") no-repeat;
}

.menu .driver-card:before {
  background: url("/static/assets/icons/driver_card.png") no-repeat;
}

.menu .add-delivery:before {
  background: url("/static/assets/icons/add_delivery.png") no-repeat;
}

.menu .gielda:before {
  background: url("/static/assets/icons/gielda.png") no-repeat;
}

.menu .dispositions:before {
  background: url("/static/assets/icons/map.png") no-repeat;
  height: 27px;
}

.menu .search-company:before {
  background: url("/static/assets/icons/search.png") no-repeat;
}

.menu .vehicles:before {
  background: url("/static/assets/icons/vehicles.png") no-repeat;
}

.menu .deliveries:before,
.menu .waybills:before {
  background: url("/static/assets/icons/deliveries.png") no-repeat;
}

.menu .settings:before {
  background: url("/static/assets/icons/settings.png") no-repeat;
}

.menu .drivers:before {
  background: url("/static/assets/icons/drivers.png") no-repeat;
}

.menu .company-profile:before {
  background: url("/static/assets/icons/company-profile.png") no-repeat;
}

.title {
  margin-left: 1.5%;
  margin-top: 2%;
}

.colored {
  color: #0282FC;
}
/*# sourceMappingURL=main.css.map */