.basic-info {
    margin-left: 15%;
}

.basic-info-cols {
    margin-top: 1.5% !important;
}

.input {
    max-width: 300px !important;
}

.screenshot {
    margin-top: 1rem;
}

.field:not(:first-child)
.static-field {
    margin-top: 3rem;
}

.static-field {
    margin-bottom: .75rem;
}
.static-label {
    margin-top: 25px !important;
}

.static-screenshot {
    margin-top: 3px;
}

.is-static {
    background-color: #0282FC !important;
    color: white !important;
    font-weight: 700;
}

.go-back,
.next {
    font-weight: 700;
    font-size: 1.55em !important;
    font-family: 'Montserrat', sans-serif !important;
}

.go-back {
    color: #C70000 !important;
    background-color: #EEEEEE !important;
}

.next {
    margin-right: 15%;
    background-color: #0282FC !important;
    color: white !important;
    font-size: 1.5rem !important;
}

.is-grouped {
    margin-top: 3rem;
    float: right;
}